/* 900 weight is handled as if 700. */
@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
    url(/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2) format('woff2');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local(''), url(/assets/fonts/robotomono/robotomono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Yanoneka';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), 
    url(/assets/fonts/yanoneka/YanoneKaffeesatz-Bold.woff2) format('woff2');
}

