.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}
.blog img {
  width: 100%;
  height: auto;
}

.blog aside,
.blog .table-of-contents {
  --border-width: 0.2rem;
  --border: var(--border-width) dashed var(--color-primary);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  padding-inline: var(--space-s-m);
  position: relative;
  color: var(--color-light);
}

.blog aside {
  padding-inline-start: var(--space-l-xl);
  padding-block: var(--space-s-m);
}