.comics > img {
  object-fit: cover;
  border-radius: var(--space-xs, 1rem);
  border: 1px solid var(--color-dark);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle drop shadow */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.comics-title {
  font-size: var(--size-step-min-1);
}

.comics-publisher,
.comics-date,
.comics-collection {
  font-size: var(--size-step-min-2);
}