
.contact form {
  display: flex;
  flex-direction: column
}
.contact .sidebar {
  --sidebar-vertical-alignment: flex-start;
  --sidebar-target-width: 20rem;
  --sidebar-content-min-width: 55%;
  gap: 0 var(--space-s)
}
.contact .sidebar+.sidebar {
  margin-block-start: var(--space-s-m)
}
.contact :where(input,
textarea) {
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-m)
}

.contact .button {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
}