form {
  display: grid;
	padding: 2em 0;
}

input[type='text'], input[type='email'], textarea {
  background-color: var(--color-dark-glare);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

input[type='text']::placeholder, input[type='email']::placeholder, textarea::placeholder {
  opacity: 0.5;
  font-size: var(--size-step-0);
}

input,
textarea,
button {
  margin-bottom: 1em;
}