dialog {
  background-color: var(--color-dark);
  border: none;
  border-radius: var(--border-radius);
}

dialog + button {
  all: unset;
  cursor: pointer;
}

dialog::backdrop {
  background-color: var(--color-dark);
  opacity: 0.75;
}