@media screen(md) {
  .featured {
    grid-column: span 2;
  }
}

#quote {
  color: var(--color-text);
  background-color: var(--color-secondary);
  padding: var(--size-step-min-2);
}

.homepage-card {
  background-color: var(--color-bg-accent);
  border: 4px solid var(--color-bg-accent);
  color: var(--color-text);
  padding: var(--space-s-m);
  border-radius: var(--border-radius);
  max-inline-size: unset;
}

.homepage-card ::selection {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

.homepage-card h2 {
  font-family: var(--font-base);
  font-size: var(--size-step-2);
}

.homepage-card h3 {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
}

.homepage-card h2 a,
.homepage-card h3 a {
  text-decoration: none;
}

.homepage-card p,
.homepage-card a,
.homepage-card li {
  font-size: var(--size-step-min-1);
}

.homepage-card {
  --gutter: var(--space-l);
}



.homepage-stack-layout > * {
	grid-area: stack;
}

.homepage-stack-layout {
	display: grid;
	grid-template-areas: "stack";
}

.homepage-background-picture img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* @media (prefers-color-scheme: dark) {
	.homepage-background-picture img {
    --background-img-brightness: 0.45;
    --background-img-saturate: 1.25;
		filter: brightness(var(--background-img-brightness))
			saturate(var(--background-img-saturate));
	}
} */


.homepage-stack-layout h1 {
	place-self: center;
	text-align: center;
  font-size: var(--size-step-6);
  text-transform: uppercase;
  mask-image: url("../images/splatter-mask.png");
}

.homepage-stack-layout small {
	color: var(--color-text);
	font-style: italic;
}

.homepage-stack-layout h1,
.homepage-stack-layout small {
	position: relative;
}

.homepage-background-picture__content {
	/* ensure stacking context above the picture */
	position: relative;
	align-self: center;
	text-align: center;
}

.homepage-content {
  margin-top: -6%;
}