nav.navbar {
  --nav-button-display: none;
  --nav-position: static;
}

nav.navbar ul {
  --nav-list-background: transparent;
  --nav-list-layout: row;
  --nav-list-position: static;
  --nav-list-padding: 0;
  --nav-list-height: auto;
  --nav-list-width: 100%;
  --nav-list-transform: none;
  --nav-list-visibility: visible;
}

/* set on parent div to get the right z-index context */
.ontop {
  z-index: 2;
  position: relative;
}

nav.navbar {
  position: var(--nav-position, absolute);
  inset-block-start: 0.5rem;
  inset-inline-end: 0.1rem;
}

/* Remove default list styling and create layout for list */
nav.navbar ul {
  background: var(--nav-list-background, var(--color-light));
  display: flex;
  flex-direction: var(--nav-list-layout, column);
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem 0.3rem;
  height: var(--nav-list-height, 100vh);
  list-style: none;
  margin: 0;
  padding: var(--nav-list-padding, 2rem);
  position: var(--nav-list-position, fixed);
  inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
  inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
  width: var(--nav-list-width, min(22rem, 100vw));
  visibility: var(--nav-list-visibility, visible);
}

/* Basic link styling */
nav.navbar a {
  --text-color: var(--color-light);
  border-block-end: 3px solid var(--border-color, transparent);
  color: var(--text-color);
  padding: 0.1rem 0.3rem;
  text-decoration: none;
}

@media (min-width: 50em) {
  nav.navbar ul {
    justify-content: flex-end;
    gap: var(--space-xs);
  }

  nav.navbar {
    margin-right: var(--space-l);
  }

  nav.navbar a {
    background-color: transparent;
    border-radius: 0;
  }
}

/* Change the border-color on :hover and :focus */
nav.navbar a:where(:hover, :focus) {
  --border-color: var(--color-primary);
}

/* Change border-color and color for the active page */
nav.navbar [aria-current='page'] {
  --border-color: var(--color-primary);
  --text-color: var(--color-primary);
}

nav.navbar span {
  font-size: var(--size-step-0);
  font-weight: bold;
  text-transform: uppercase;
  padding-inline-end: var(--space-xs);
}