/* now: books */
.now-book-meta {
  --flow-space: var(--space-s);
}

.now-book-author {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  break-inside: avoid;
}

.now-book-title {
  font-weight: 600;
  break-inside: avoid;
}

.now-book-description {
  font-size: var(--size-step-min-1);
}

.now-reading {
  font-size: var(--size-step-min-1);
  break-inside: avoid;
}

/* now: games */
.now-game-meta {
  --flow-space: var(--space-s);
}

.now-game-publisher {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  break-inside: avoid;
}

.now-game-title {
  font-weight: 600;
  break-inside: avoid;
}

.now-game-description {
  font-size: var(--size-step-min-1);
}

/* now: artists */
.now-artist-name {
  font-size: var(--size-step-min-2);
  break-inside: avoid;
}

.now-artist-plays {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
}

.now-artist {
  --min: 15rem;
  --aspect-ratio: 1/1;
  --gap: 0;
}

.now-artist {
  aspect-ratio: var(--aspect-ratio);
  width: auto;
}

.now-artist > img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* now: albums */
.now-album-name {
  font-size: var(--size-step-min-2);
  break-inside: avoid;
}

.now-album-artist-name {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  break-inside: avoid;
}

/* now: trakt tv shows */
.now-show-title {
  font-size: var(--size-step-min-2);
  break-inside: avoid;
}

.now-show-episode-title {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
}

/* now: trakt movies */
.now-movie-title {
  font-size: var(--size-step-min-2);
  break-inside: avoid;
}

.now-movie-date {
  color: var(--color-text-accent);
  font-size: var(--size-step-min-2);
}