.logo {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  letter-spacing: -0.08rem;
  padding: var(--space-xs) 0;
}

.logo-svg { 
  --fillColorTop: #fbfbfb;
  --fillColorBot: #f4f4f4;
}

.logo-svg:hover {
  --fillColorTop: #F4900C;
  --fillColorBot: #FFCC4D;
}