.logo {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  letter-spacing: var(--tracking-s);
  padding: var(--space-xs) 0;
  font-size: var(--size-step-1);
}

.logo:hover,
.logo:focus {
  color: transparent;
  background: radial-gradient(rgb(220, 38, 38), rgb(234, 88, 12), rgb(202, 138, 4));
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
}

.logo svg { 
  --fillColorTop: #fbfbfb;
  --fillColorBot: #f4f4f4;
}

.logo:hover svg,
.logo:focus svg {
  --fillColorTop: #f05123;
  --fillColorBot: #f08323;
} 

@media (min-width: 85em) {
  .logo {
    transform: translateX(var(--gutter));
  }
}