.site-foot {
  padding: var(--space-s-m);
  background: var(--color-dark-glare);
  color: var(--color-light);
}

.site-foot__notes {
  gap: var(--space-xs-s);
  text-align: center;
}

.site-foot__inner {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  justify-content: center;
}

:not(nav#social).site-foot__inner {
  flex-wrap: wrap;
}

.site-foot svg {
  block-size: 0.9em;
  inline-size: 0.9em;
}

.site-foot table td {
  border: 0;
}