.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  color: var(--color-light);
  font-family: var(--font-display);
  font-size: var(--size-step-6);
  text-shadow: var(--color-dark-glare);
  text-transform: uppercase;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  word-break: break-word;
}

.gradient-text {
  color: transparent;
  background: radial-gradient(rgb(220, 38, 38), rgb(234, 88, 12), rgb(202, 138, 4));
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
}
