<li id="{{ link.name }}" class="card">
  <div class="flow">
    <h3>
      <a href="{{ link.url | url }}" class="no-indicator">{{ link.name }}</a>
    </h3>
    <p class="blog-url">
      <img
        alt=""
        src="{{ link.favicon }}"
        width="24px"
        height="24px"
        loading="lazy"
        decoding="async"
        style="display: inline;"
      />
      {{ link.cleansedUrl }}
    </p>
    <p class="blog-note">{{ link.note }}</p>
    {% if link.latestPost and link.latestPost.title %}
      <p class="latest-post">
        <b>Latest post:</b>
        <a href="{{ link.latestPost.url }}"> {{ link.latestPost.title }} </a>
      </p>
    {% endif %}
  </div>
</li>