<li id="{{ link.name }}" class="links-card | flow">
    <h3>
      {{ link.name }}
    </h3>
    <p class="blog-url">
        <img
          alt=""
          src="https://v1.indieweb-avatar.11ty.dev/{{ link.url | urlencode }}"
          width="24px"
          height="24px"
          loading="lazy"
          decoding="async"
          style="display: inline;"
        />
      <a href="{{ link.url | url }}" class="no-indicator">{{ link.url | normalizeUrl }}</a>
    </p>
    <p class="blog-note">{{ link.note }}</p>
    {% if link.feed %}
      <p class="blog-feed">
        <a href="{{ link.feed }}">RSS Feed</a>
      </p>
    {% endif %}
</li>