&lt;hr /&gt;
&lt;p&gt;Hey, thanks for reading this post in your feed reader! Want to chat? &lt;a href=&quot;mailto:hello@flamedfury.com?subject=RE: {{ post.data.title }}&quot;&gt;Reply by email&lt;/a&gt; or add me on &lt;a href=&quot;xmpp:flamed@omg.lol&quot;&gt;XMPP&lt;/a&gt;. Check out the &lt;a href=&quot;https://flamedfury.com/posts/&quot;&gt;posts archive&lt;/a&gt; on the website.&lt;/p&gt;