<div
  role="region"
  class="theme-switch | cluster"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
  aria-labelledby="theme-switcher-label"
  data-theme-switcher
  hidden
>
  <h2 id="theme-switcher-label" style="display: none;">{{ meta.themeSwitch.title }}</h2>
  <button class="button" id="theme-toggle" data-theme-toggle>
    <span id="theme-toggle-text">{{ meta.themeSwitch.light }}</span>
  </button>
</div>