@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $t-base-size;
  line-height: $t-base-line-height;
}

body {
  background-color: $c-background;
  color: $c-light;
  font-family: $f-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $c-link;
}

a:focus {
  outline: 1px dashed currentColor;
  outline-offset: 0.2em;
}

a:hover {
  color: $c-link-dark;
}
