@use "variables" as *;

body {
  max-width: 60em;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
}

header {
  margin: 0 auto;
}

@media screen and (min-width: 25em) {
  body {
    grid-template-areas:
      "hd hd hd hd hd hd"
      "sd main main main main main"
      "ft ft ft ft ft ft";
  }

  .header {
    grid-area: hd;
  }

  .sidebar {
    grid-area: sd;
  }

  .content {
    grid-area: main;
  }

  .footer {
    grid-area: ft;
  }
}

main,
aside,
footer {
  background-color: $c-background-light;
  border: 2px dashed $c-border;
  border-radius: 5px;
  padding: 20px;
}

@supports (display: grid) {
    body > * {
        width: auto;
        margin: 0;
    }
}
