@use "variables" as *;

header {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
}

@media screen and (min-width: 500px) {
  body {
    grid-template-areas:
      "a a a a"
      "b c c c"
      "d d d d";
  }

  .sidebar {
    grid-area: b;
  }

  .content {
    grid-area: c;
  }

  .header {
    grid-area: a;
  }

  .footer {
    grid-area: d;
  }
}

main,
aside,
footer {
  background-color: $c-background-light;
  border: 2px dashed $c-border;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

main {
  margin-left: 10px;
}

@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}
