@use "variables" as *;

h1,
h2,
h3,
h4 {
  color: $c-primary;
  font-family: $f-sans-serif;
  font-weight: 700;
  margin-bottom: .5em;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}