<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ feedData.title }}</title>
    <link>{{ meta.url | addPathPrefixToFullUrl }}</link>
    <description>{{ feedData.description }}</description>
    <language>{{ meta.lang or page.lang or 'en' }}</language>
    <lastBuildDate>Fri, 13 Sep 2025 00:00:00 +0000</lastBuildDate>
    <atom:link href="{{ permalink | htmlBaseUrl(meta.url) }}" rel="self" type="application/rss+xml" />
    <managingEditor>{{ meta.author.email }} ({{ meta.author.name }})</managingEditor>
    <webMaster>{{ meta.author.email }} ({{ meta.author.name }})</webMaster>
    {% set itemslist = feedData.collection | reverse %}
    {% for item in itemslist | limit(feedData.limit or 20) %}
    {% set absoluteItemUrl %}{{ item.url | url | absoluteUrl(meta.url) }}{% endset %}
    <item>
      <title>{{ item.data.title | escapeXml }}</title>
      <link>{{ absoluteItemUrl }}</link>
      <pubDate>Fri, 13 Sep 2025 00:00:00 +0000</pubDate>
      <guid>{{ absoluteItemUrl }}</guid>
      {% if item.data.description %}<description><![CDATA[{{ item.data.description }}]]></description>{% endif %}
      <content:encoded><![CDATA[{% if feedData.type == 'bookmarks' %}
        <p>🔖 Bookmarked <a href="{{ item.url }}">{{ item.data.title }}</a></p>
        {% if item.data.quote %}<blockquote>{{ item.data.quote }}</blockquote>{% endif %}
        {% if item.data.notes %}<p>{{ item.data.notes }}</p>{% endif %}
        <hr />
        <p>Hey, thanks for reading this post in your feed reader! Want to chat? <a href="mailto:hello@flamedfury.com?subject=RE Bookmark: {{ item.data.title }}">Reply by email</a> or add me on <a href="xmpp:flamed@omg.lol">XMPP</a>. Check out the <a href="https://flamedfury.com/bookmarks/">bookmarks archive</a> on the website.</p>{% else %}{{ item.templateContent | htmlToAbsoluteUrls(absoluteItemUrl) | safe }}
        <p>Hey, thanks for reading this post in your feed reader! Want to chat? <a href="mailto:hello@flamedfury.com?subject=RE: {{ item.data.title }}">Reply by email</a> or add me on <a href="xmpp:flamed@omg.lol">XMPP</a>, or send a <a href="{{ absoluteItemUrl }}#webmention">webmention</a>. Check out the <a href="https://flamedfury.com/posts/">posts archive</a> on the website.</p>{% endif %}]]></content:encoded>
    </item>
    {% endfor %}
  </channel>
</rss>