---
title: Links
description: A collection of links for websites and services that I find useful.
layout: page
permalink: /links/index.html
masonry: true
---

{% from "components/linksSection.njk" import renderSection %}

<p>I hope you find what you're looking for.</p>

{{ renderSection("blogroll", "Blogroll", "Interesting websites with blogs that I subscribe to.", linksData.blogData) }}
{{ renderSection("coolsites", "Cool Sites", "Cool websites that aren't blogs that have interesting pages to get lost in.", linksData.coolSitesData) }}
{{ renderSection("webdev", "Web Development", "Website useful for learning or keeping up with web development.", linksData.webDevelopmentData) }}
{{ renderSection("newsletters", "Newsletters", "Newsletters I read, you might find interesting too.", linksData.newsLettersData) }}
{{ renderSection("podcasts", "Podcasts", "Podcasts that I listen to and recommend.", linksData.podCastsData) }}
{{ renderSection("webdirs", "Web Directories", "Discovery is a huge part of the small and independent web, these directories are helping surface everyone's wonderful websites.", linksData.webDirectoriesData) }}
{{ renderSection("search", "Search Engines", "Contrary to popular belief, search exists outside of adtech, check out some of these search engines and avoid the blog spam.", linksData.searchEnginesData) }}
{{ renderSection("multimedia", "Multimedia", "Contrary to popular belief, search exists outside of adtech, check out some of these search engines and avoid the blog spam.", linksData.multiMediaData) }}