.theme-switch .button {
  all: unset;
  cursor: pointer;
  font-size: var(--size-step-1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  inline-size: 2.5rem;
  block-size: 2.5rem;
}

.theme-switch .button:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 0.3ch;
}