.webmentions input[type='url'] {
  background-color: var(--color-bg-accent);
  border: 2px solid #999;
  color: var(--color-text);
}

.webmentions input[type='url']::placeholder {
  opacity: 0.5;
  font-size: var(--size-step-min-1);
}
