<link rel="stylesheet" href="{% getBundleFileUrl "css", "global" %}">
<link rel="stylesheet" href="{% getBundleFileUrl "css", "inline" %}">

{% css "global" %}{% include "css/global.css" %}{% endcss %}