{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if discover.title %}
        {{ discover.title }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <base href="{{ page.url }}" />

    {% include "head/js-inline.njk" %}

    {% include "head/schema.njk" %}

    {% include "head/css-inline.njk" %}

    {% include "head/preloads.njk" %}

    {% include "head/meta-info.njk" %}

    {% include "head/js-defer.njk" %}
  </head>

  <body class="{{ layout }}">
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}

  </body>
</html>