---
layout: base
---

<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region">
  <div class="wrapper flow prose">
    {{ content | safe }}

  </div>

  <!--[ writing stream. ]-->
  {% for year in collections.postsByYear %}
    <div class="region" style="--region-space-bottom: var(--space-m); --region-space-top: var(--space-m)">
      <div class="wrapper content">
        <h2 id="{{ year.year }}">{{ year.year }}</h2>
      </div>
      <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
        {% for post in year.posts | reverse %}
          {% include "partials/post-loop.njk" %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</article>

{# <article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}

        <!-- [ tag list. ] -->
    <details>
      <summary>Tags</summary>
      {% include "partials/tag-loop.njk" %}
    </details>
  </div>
</article>

<article class="region">
  <div class="wrapper flow content">
    <!-- [ tag list. ] -->
    <details>
      <summary>Tags</summary>
      {% include "partials/tag-loop.njk" %}
    </details>
  </div>
  <!--[ writing stream. ]-->
  {% for year in collections.postsByYear %}
    <div class="region">
      <div class="wrapper flow content">
        <h2 id="{{ year.year }}">{{ year.year }}</h2>
      </div>
      <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
        {% for post in year.posts | reverse %}
          {% include "partials/post-loop.njk" %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</article> #}
