---
layout: base
---

<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region flow">
<h2>Blogroll</h2>
  <p>Interesting websites with blogs that I subscribe to.</p>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for blog in linksData.blogData %}
      <li id="{{ blog.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ blog.url | url }}">{{ blog.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ blog.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ blog.cleansedUrl }}</p>
        <p class="blog-note">{{ blog.note }}</p>
        {% if blog.latestPost and blog.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ blog.latestPost.url }}">
              {{ blog.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Cool Sites</h2>
  <p>Cool websites that aren't blogs that have interesting pages to get lost in.</p>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.coolSitesData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Web Development</h2>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.webDevelopmentData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Newsletters</h2>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.newsLettersData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Podcasts</h2>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.podCastsData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest episode:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Web Directories</h2>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.webDirectoriesData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>

<article class="wrapper region flow">
<h2>Search Engines</h2>
  <ul class="grid mt-l-xl" data-rows="masonry" data-layout="50-50">
    {% for link in linksData.searchEnginesData %}
      <li id="{{ link.name }}" class="card flow overflow-hidden">
        <h3>
          <a href="{{ link.url | url }}">{{ link.name }}</a>
        </h3>
        <p class="blog-url"><img alt="" src="{{ link.favicon }}" width="24px" height="24px" loading="lazy" decoding="async" style="display: inline;"/>
          {{ link.cleansedUrl }}</p>
        <p class="blog-note">{{ link.note }}</p>
        {% if link.latestPost and link.latestPost.title %}
          <p class="latest-post">
            <b>Latest post:</b>
            <a href="{{ link.latestPost.url }}">
              {{ link.latestPost.title }}
            </a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</article>