---
layout: base
---

<article class="wrapper region flow prose">
  <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
</article>

<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% for bookmark in collections.allBookmarks | reverse %}

      <li id="{{ bookmark.data.title | slugify }}" class="card flow overflow-hidden">
        <h2>
          <a href="{{ bookmark.url | url }}">{{ bookmark.data.title }}</a>
        </h2>
        {% set definedDate = bookmark.data.date %}
        {% include "partials/date.njk" %}
        <p>{{ bookmark.data.notes }}</p>
      </li>

    {% endfor %}
  </ul>
</article>