---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

{% for book in metadataread | reverse %}
  {% if book.status == 'finished' %}
    {% set year = book.dateFinished | truncate(4, true, '') %}

    {% if loop.first or year != prev_year %}
      {% if not loop.first %}
      </div>
    </article>
  {% endif %}
  <article class="region page">
    <div class="wrapper flow content">
      <h2>{{ year }}</h2>
      <div class="grid breakout" style="--grid-min-item-size: 10rem">
      {% endif %}

      <div class="flow">
        <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/book-{{ book.isbn }}.png">
        <p>
          <span class="block" style="font-size: 1.2rem">
            {{ book.title }}
          </span>
          <span class="block" style="font-size: 1rem">
            {{ book.authors }}
          </span>
          <span class="block" style="font-size: 1rem">
            {{ book.dateFinished }}
          </span>
        </p>
      </div>

      {% set prev_year = year %}
    {% endif %}
  {% endfor %}

  {% if books | length %}
  </div>
</article>
{% endif %}