---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

<article class="wrapper region content">
  <div class="grid breakout" style="--grid-min-item-size: 20rem">

    {% for bookmark in bookmarks | reverse %}
      <div class="flow">
        <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/{{ bookmark.image }}">
        <p>
          <span class="block">
            <a href="{{ bookmark.url }}">{{ bookmark.title }}</a>
          </span>
          <span class="block" style="font-size: 1.2rem">
            {{ bookmark.notes }}
          </span>
          <span class="block" style="font-size: 0.8rem">
            {{ bookmark.date }}, {{ bookmark.tags }}
          </span>
        </p>
      </div>
    {%- endfor -%}

  </div>
</article>