---
layout: base
schema: blog
---

<article class="region blog | h-entry">
  <div class="wrapper flow prose">
    <h1 class="gradient-text | p-name">{{ bookmark.title }}</h1>

    <div class="flow e-content">
      {{ content | safe }}
    </div>

  </div>
</article>

{% include "partials/webmentions.njk" %}