---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

<article class="region">
  <div class="wrapper flow prose">
    <h2>Books Read</h2>
    <div class="grid" style="--grid-min-item-size: 10rem">

    {% for book in metadataread | reverse %}
      {% if book.status == 'finished' %}
        <div class="bookshelf flow">
          <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/book-{{ book.isbn }}.png">
        </div>
      {% endif %}
    {% endfor %}

    </div>
  </div>
</article>