---
layout: base
---

<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}

  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="wrapper region">

  {% set recentlyRead = oku.collections[3].books | limit(9) %}
  {% if recentlyRead.length %}
  <ul class="features grid mt-l-xl" role="list">
    {% for item in recentlyRead %}
    {% if item.thumbnail %}
    <li class="card flow clickable-card overflow-hidden">
      <a href="https://oku.club/book/{{ item.slug }}">
        <img src="{{ item.thumbnail }}" alt="book cover for {{ item.title }} by {{ item.authors[0]['name'] }}" width="300px">
      </a>
      <p>{{ item.title }} </p>
      <p>by {{ item.authors[0]['name'] }}</p>
    </li>
    {% else %}
    <li class="card flow clickable-card overflow-hidden">
      <a href="https://oku.club/book/{{ item.slug }}">
        <img src="../img/generic-cover.png" alt="book cover for {{ item.title }} by {{ item.authors[0]['name'] }}" width="300px">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

</article>