---
layout: post
schema: blog
---

<div class="flow h-entry">
  <p class="text-step-min-1">
    {{ meta.author.name }} Bookmarked <a href="{{ bookmark.url }}" class="u-bookmark-of h-cite"> <span class="p-name">{{ bookmark.title }}</span></a>
  </p>
  <hr>
   {{ content | safe }}
  <p class="text-step-min-1">
    <a href="/bookmarks/">More Bookmarks</a>
  </p>
</div>