---
layout: base
---

<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region flow prose">
    {{ content | safe }}
</article>

<article class="wrapper region flow prose page">
  <h2>Bookshelf</h2>
  <div class="grid" style="--grid-min-item-size: 10rem">
    {% for book in metadataread | reverse %}

      {% if loop.index <= 8 %}
        <div class="flow">
          <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/book-{{ book.isbn }}.png">
        </div>
      {% endif %}

    {% endfor %}
  </div>
  <p>
    <a href="/bookshelf/">All books</a>
  </p>
</article>

<article class="wrapper region flow prose page">
  <h2>Recordshelf</h2>
  <div class="grid" style="--grid-min-item-size: 10rem">
    {% for item in vinyl.albums %}
      {% if loop.index <= 8 %}
        <div class="flow">
          <a href="/recordshelf/#{{ item.title | slug }}">
          {% imagePlaceholder item.image,
          "the album cover" %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <p>
    <a href="/recordshelf/">All vinyl</a>
  </p>
</article>

<article class="wrapper region flow prose ">
  <h2>Bookmarks</h2>
  <ul class="flow" role="list">
    {% for bookmark in collections.allBookmarks | reverse %}
      {% if loop.index <= 4 %}
        <li id="{{ bookmark.data.title | slugify }}" class="card flow overflow-hidden">
          <h3>
            <a href="{{ bookmark.url | url }}">{{ bookmark.data.title }}</a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p>
    <a href="/bookmarks/">All bookmarks</a>
  </p>
</article>

<article class="wrapper region flow prose">
  <h2>Mixtapes</h2>
  <div class="grid breakout" style="--grid-min-item-size: 15rem">
    {% for item in mixtapes.playlists %}
      {% if loop.index <= 3 %}
        <div class="flow">
          <iframe style="border-radius:12px" src="{{ item.embed }}" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <p>
    <a href="/mixtapes/">All Mixtapes</a>
  </p>
</article>