---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

<article class="wrapper region content">
  <div class="grid breakout" style="--grid-min-item-size: 10rem">

    {% for book in metadataread | sort(true, true, 'dateFinished')%}
      <div class="flow">
        <img src="{{ book.thumbnail }}">

        <p style="font-size: 1.2rem">
          {{ book.title }}
        </p>
        <p style="font-size: 1rem">
          {{ book.authors }}
        </p>
      </div>
    {% endfor %}

  </div>
</article>