---
layout: base
---
<!--[ comment ]-->
<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region" style="--region-space-top: var(--space-xl); --region-space-bottom: var(--space-xl)">
    <div class="wrapper flow prose">
      <h1 class="text-center title-text">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</header>

<section class="region home">
  <div class="wrapper sidebar" data-direction="rtl">
    <div class="welcome">
      <article class="wrapper flow prose">
        <h2>{{ welcome.title }}</h2>

        <div class="flow prose">
          {{ content | safe }}
        </div>
      </article>
    </div>
    <aside class="updates region">
      <div class="wrapper flow prose">
        <h3>{{ updates.title }}</h3>

        <div class="flow prose">
          {% include "partials/updates.njk" %}
        </div>
      </div>
    </aside>
  </div>
</section>

<section>
  <article class="region" style="--region-space-top: var(--space-s)">
    <div class="wrapper flow prose">
      <h2>Recent posts</h2>
      <p>These are my most recent posts. More are available to read on the <a href="posts">posts page</a>.</p>
    </div>

    <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
      {% set postslist = collections.posts %}
      {% for post in postslist.slice(0, 6) %}

        <li class="card flow overflow-hidden">
          <h3>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h3>
          {% set definedDate = post.date %}
          {% include "partials/date.njk" %}
          <p>{{ post.data.description }}</p>
        </li>

      {% endfor %}
    </ul>
  </article>
</section>