---
layout: base
---
<!--[ comment ]-->
<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region">
    <div class="wrapper flow prose">
      <h1 class="text-center title-text">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</header>

<section class="region home">
  <div class="wrapper sidebar" data-direction="rtl">
    <div class="welcome">
      <article class="wrapper flow prose">
        <h2>{{ welcome.title }}</h2>

        <div class="flow prose">
          {{ content | safe }}
        </div>
      </article>
    </div>
    <aside class="updates region">
      <div class="wrapper flow prose">
        <h3>{{ updates.title }}</h3>

        <div class="flow prose">
          {% include "partials/updates.njk" %}
        </div>
      </div>
    </aside>
  </div>
</section>