---
layout: base
schema: blog
---

<article class="region blog | h-entry">
  <div class="wrapper flow prose">
    <h1 class="gradient-text | p-name">{{ title }}</h1>

    <dl class="meta">
      <!-- date -->
      {% set definedDate = date %}
      <dt>
        {{ meta.published | capitalize }}
      </dt>
      <dd>{% include "partials/date.njk" %}</dd>

      {% if updated %}
        <!-- updated -->
        {% set definedDate = updated %}
        <dt>{{ meta.updated | capitalize }}</dt>
        <dd>{% include "partials/date.njk" %}</dd>
      {% endif %}

      <!-- author -->
      <dt>By: </dt>
      <dd>
        <a rel="author" class="p-author h-card" href="{{ meta.authorWebsite }}">{{ meta.author }}</a>
      </dd>

      <!-- URL -->
      <dt>URL: </dt>
      <dd>
        <a class="u-url" href="{{ absolutePostUrl }}">Link</a>
      </dd>
    </dl>

    <blockquote>
      <p>
        Reply to <a class="h-cite u-in-reply-to" href="{{ post.data.reply }}">Permalink</a>
      </p>
    </blockquote>

    <div class="flow e-content">
      {{ content | safe }}
    </div>

  </div>
</article>

{% include "partials/webmentions.njk" %}