### Reading: books

<div class="now_grid">
  {% for book in metadataread | reverse %}{% if book.status == 'started' %}
  <div class="now_item">
    <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/book-{{ book.isbn }}.png" alt="{{ book.title }}">
  </div>
  {% endif %}{% endfor %}
</div>

### Playing: games

<div class="now_games">
  <div class="now_item">
    <a href="https://worldofwarcraft.blizzard.com/en-us/" title="World Of Warcraft: Dragonflight"><img
        src="https://flamedfury.com/assets/images/pages/now/wow-dragon-flight.png"
        alt="An image of the cover art for the game World Of Warcraft: Dragonflight" /></a>
  </div>
  <div class="now_item">
    <a href="https://diablo4.blizzard.com/en-us/" title="Diablo IV"><img src="https://flamedfury.com/assets/images/pages/now/diablo-iv.png"
        alt="An image of the cover art for the game Diablo IV" /></a>
  </div>
  {% for game in games %}
  <div class="now_item">
    <a href="{{ game.steamUrl }}"><img src="{{ game.coverArt }}" alt="{{ game.name }}"></a>
  </div>
  {% endfor %}
</div>

### Listening: artists

<div class="now_grid">
  {% for artist in artists %}
  <div class="now_item">
    <a href="{{artist.url}}" title="{{artist.name | escape}}"><img src="{{ artist.image }}" alt="Photo of {{ artist.name }}" title="{{ artist.name }}"></a>
  </div>
  {% endfor %}
</div>

### Listening: tracks

<div class="now_grid">
  {% for track in tracks %}
  <div class="now_item">
    <a href="{{ track.url }}" title="{{ track.name | escape }}"><img src="{{ track.image }}" alt="Album artwork for {{ track.name }} by {{ track.artist.name }}"
        title="{{ track.name }} by {{ track.artist.name }}"></a>
  </div>
  {% endfor %}
</div>

### Listening: albums

<div class="now_grid">
  {% for album in albums %}
  <div class="now_item">
    <a href="{{ album.url }}" title="{{ album.name }}"><img src="{{ album.image }}" alt="The cover art for {{ album.name }}"></a>
  </div>
  {% endfor %}
</div>

### Watching: tv

<div class="now_grid">
  {% for show in tv %}
  <div class="now_item">
    <a href="https://trakt.tv/shows/{{ show.show.ids.slug }}/seasons/{{ show.episode.season }}/episodes/{{ show.episode.number }}"
      title="{{ show.show.title | escape }}">
      <img src="{{ show.posterUrl }}" alt="{{ show.show.title }}" />
    </a>
  </div>
  {% endfor %}
</div>

### Watching: movies

<div class="now_grid">
  {% for movie in movies %}
  <div class="now_item">
    <a href="https://trakt.tv/movies/{{ movie.movie.ids.slug }}" title="{{ movie.movie.title | escape }}">
      <img src="{{ movie.posterUrl }}" alt="{{ movie.movie.title }}" />
    </a>
  </div>
  {% endfor %}
</div>