---
layout: page
---

<article class="region">
  <div class="wrapper flow">
    {{ content | safe }}
  </div>
</article>

<article class="region">
  <div class="wrapper flow">
    <h2>Reading: books</h2>
    <ul>
      {% for book in metadataread | reverse %}
        {% if book.status == 'started' %}
          <li>
            <a href="{{book.link}}">
              {{ book.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</article>

<article class="region">
  <div class="wrapper">
    <h2>Listening: artists</h2>
    {% for artist in artists %}
      <ul>
        <li>
          <a href="{{artist.url}}" title="{{artist.name | escape}}">{{artist.name}}</a>: {{artist.playcount}} plays
      </li>
      </ul>
    {% endfor %}
  </div>
</article>

<article class="region">
  <div class="wrapper flow">
    <h2>Listening: tracks</h2>
    <div class="grid breakout" style="--grid-min-item-size: 10rem">
      {% for track in tracks %}
        <div class="flow">
          <img src="{{ track.image[3]['#text'] }}" alt="Album artwork for {{ item.name }} by {{ item.artist['#text'] }}" title="{{ item.name }} by {{ item.artist['#text'] }}">
          <p style="font-size: 1rem">
            <a href="{{track.url}}" title="{{track.name | escape}}">{{track.artist.name}} - {{track.name}}</a>: {{track.playcount}} plays
        </p>
        </div>
      {% endfor %}
    </div>
  </div>
</article>

<article class="region">
  <div class="wrapper flow">
    <h2>Listening: albums</h2>
    <div class="grid breakout" style="--grid-min-item-size: 10rem">
      {% for album in albums %}
        <div class="flow">
          <img src="{{album.image[3]['#text']}}" width="350" height="350" alt="The cover art for {{album.name}}">
          <p style="font-size: 1rem">
            <a href="{{album.url}}" title="{{album.name}}">{{album.name}} - {{album.artist.name}}</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</article>

<article class="region">
  <div class="wrapper">
    <h2>Watching: tv</h2>
    {% for show in tv %}
      <ul>
        <li>
          <a href="{{show.link}}" title="{{show.title | escape}}">
            {{show.title}}
          </a>
        </li>
      </ul>
    {% endfor %}
  </div>
</article>

<article class="region">
  <div class="wrapper">
    <h2>Watching: movies</h2>
    {% for movie in movies %}
      <ul>
        <li>
          <a href="{{movie.link}}" title="{{movie.title | escape}}">
            {{movie.title}}
          </a>
        </li>
      </ul>
    {% endfor %}
  </div>
</article>