---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

<article class="wrapper region content">
  <div class="auto-grid breakout" style="--grid-min-item-size: 10rem">
    {% for book in metadataread | reverse %}

    <div class="flow">
      <img src="{{ book.thumbnail }}">

      <p style="font-size: var(--size-step-0)">
        <span class="block">{{ book.title }}</span>
        <span class="block"></span>{{ book.authors }}</span>
      </p>
    </div>

    {% endfor %}
  </div>
</article>