---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

{% for article in metadatabookmarks | reverse %}
<article class="wrapper region content">
  <div class="breakout">
    <div class="vinyl sidebar">
      <div class="region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
        <a href="{{ article.url }}">{{ article.title }}</a>
      </div>
      <div class="flow region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
        <p>
          {{ article.notes }}
        </p>
      </div>
    </div>
  </div>
</article>
{%- endfor -%}