---
layout: base
schema: blog
---

<article class="h-entry region blog">
  <div class="wrapper flow prose">
    <h1 class="p-name gradient-text">{{ title }}</h1>

    <p style="font-size: var(--size-step-0)">
      <span class="block">Published: {% set definedDate = date %}
        {% include "partials/date.njk" %}</span>
      {% if updated %}
        <span class="block">Updated: {% set definedDate = updated %}
          {% include "partials/date.njk" %}</span>
      {% endif %}
    </p>

    <div class="e-content">
      {{ content | safe }}
    </div>

  </div>
</article>