---
layout: base
schema: blog
---

<article class="region blog | h-entry">
  <div class="wrapper flow prose">
    <h1 class="gradient-text | p-name">{{ title }}</h1>

    <p style="font-size: var(--size-step-0)">
      <span class="block">Published: {% set definedDate = date %}
        {% include "partials/date.njk" %}</span>
      {% if updated %}
        <span class="block">Updated: {% set definedDate = updated %}
          {% include "partials/date.njk" %}</span>
      {% endif %}
    </p>

    <div class="flow e-content">
      {{ content | safe }}
    </div>

  </div>
</article>

<!-- set webmentions url -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
<!-- include webmentions -->
{% include "partials/webmentions.njk" %}