---
layout: base
schema: blog
---

<article class="region blog | h-entry">
  <div class="wrapper flow prose">
    <h1 class="gradient-text | p-name">{{ title }}</h1>

    <p style="font-size: var(--size-step-0)">
      <span class="block">Published: {% set definedDate = date %}
        {% include "partials/date.njk" %}</span>
      {% if updated %}
        <span class="block">Updated: {% set definedDate = updated %}
          {% include "partials/date.njk" %}</span>
      {% endif %}
    </p>

    <p style="font-size: var(--size-step-0)">
      Tagged:
      {% for tag in tags %}
        {% if tag != "posts" %}
          <a href="/tags/{{ tag }}">
            {{ tag }}
          </a>
        {% endif %}
      {% endfor %}
    </p>

    <div class="flow e-content">
      {{ content | safe }}
    </div>

    {% include "partials/webmentions.njk" %}

  </div>
</article>