---
layout: base
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}

    <ul>
      {% set orderedCollection = collections | sortObjectByKey %}
      {%- for tag, posts in orderedCollection %}
        {%- if tag != "all" and tag != "aliases" and tag != "allBookmarks" and tag != "postsByYear" and tag != "replies" and tag != "posts" %}
          <li>
            <a href="/tags/{{tag | slugify}}/">
              <strong>{{ tag }}</strong>
            </a> - {{ posts | length }} posts</li>
        {% endif %}
      {%- endfor -%}
    </ul>
  </div>
</article>