---
layout: base
---

<article class="region blog | h-entry">
  <div class="wrapper flow prose">
    <h1 class="gradient-text | p-name">{{ title }}</h1>

    <dl class="meta">
      <dt>
        Tagged:
      </dt>
      <!--] include tags [-->
      <dd>{% include "partials/post-tags.njk" %}</dd>

      <!--] include date [-->
      {% set definedDate = date %}
      <dt>
        {{ meta.published | capitalize }}
      </dt>
      <dd>{% include "partials/date.njk" %}</dd>

      {% if updated %}
        <!-- updated -->
        {% set definedDate = updated %}
        <dt>{{ meta.updated | capitalize }}</dt>
        <dd>{% include "partials/date.njk" %}</dd>
      {% endif %}
    </dl>

    <div class="flow e-content">
      {{ content | safe }}
    </div>

  </div>
</article>

<style>{% getBundle "css" %}</style>

<div class="untappd max-w-4xl grid grid-cols-1 bg-gradient-to-b from-green-900 from-0% via-green-500 via-25% to-green-500 to-100% m-auto bg-shadow shadow-yellow-500 rounded -z-10">
      <div class="w-full col-start-1 row-start-1 row-span-2 pt-5">
        <img src="/assets/images/experiments/untappd/Pixels375WCrushed.png" alt="">
      </div>
      <div class="text-center flex flex-col items-center col-start-1 row-start-1"><img alt="logo" loading="lazy" width="327" height="238" decoding="async"
          data-nimg="1" class="mt-10 mb-2" style="color:transparent" srcset="/assets/images/experiments/untappd/yibLogo2023.6317e419-1.png 1x, /assets/images/experiments/untappd/yibLogo2023.6317e419.png 2x"
          src="/assets/images/experiments/untappd/yibLogo2023.6317e419.png"></div>
      <div class="col-start-1 row-start-2">
        <div id="BEER" class="m-3 mb-8 scroll-margin bg-yellow-500 text-green">
          <div class="px-5 font-medium flex gap-2 items-center">
            <h2 class="flex-1 text-7xl text-green font-bold">Beer</h2>
          </div>
          <div>
            <div class="flex flex-col px-5 items-center justify-between gap-4 md:flex-row mb-4">
              <p class="text-3xl font-medium text-green-600">My top rated beer was <span class="font-bold">Descent to the Dungeon of Dankness</span>
                by <span class="font-bold">Garage Project</span></p>
              <div>
                <div class="relative" style="width: 300px; height: 300px;"><img alt="beer image" loading="lazy" decoding="async" data-nimg="fill"
                    class="absolute top-0 left-0 rounded-full"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;" sizes="100vw"
                    srcset="/assets/images/experiments/untappd/beer-5488496_57bcd_hd-1.jpeg 640w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-2.jpeg 750w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-3.jpeg 828w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-4.jpeg 1080w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-5.jpeg 1200w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-6.jpeg 1920w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd-7.jpeg 2048w, /assets/images/experiments/untappd/beer-5488496_57bcd_hd.jpeg 3840w"
                    src="/assets/images/experiments/untappd/beer-5488496_57bcd_hd.jpeg"><img alt="" loading="lazy" width="300" height="300" decoding="async" data-nimg="1"
                    class="absolute top-0 left-0" style="color: transparent;" srcset="/assets/images/experiments/untappd/yellow_mask.9444234b-1.png 1x, /assets/images/experiments/untappd/yellow_mask.9444234b.png 2x"
                    src="/assets/images/experiments/untappd/yellow_mask.9444234b.png"></div>
              </div>
            </div>
            
            <div class="mt-5 mx-1 bg-green-600 text-white">
              <div class="p-4 pr-6">
                <p class="font-bold text-2xl text-white">My top rated beers</p>
                <p class="font-medium mt-1 mb-3 text-2xl leading-7">These are the top 5 beers I rated. If I had a beer more than once, the rating is averaged.</p>
                <div class="flex items-center gap-4 text-white">
                  <div class="flex flex-1 gap-3 border-b border-white py-2 items-center">
                    <div class="flex-1">
                      <div class="font-bold text-xl">Descent to the Dungeon of Dankness</div>
                      <div class="mt-1 text-large">Garage Project</div>
                    </div>
                    <div class="flex gap-3 items-center overflow-hidden">
                      <div class="flex text-3xl font-medium text">5</div><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 40px;">
                        <path
                          d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                          fill="transparent" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-4 text-white">
                  <div class="flex flex-1 gap-3 border-b border-white py-2 items-center">
                    <div class="flex-1">
                      <div class="font-bold text-xl">Hop Zombie</div>
                      <div class="mt-1 text-large">Epic Brewing Company</div>
                    </div>
                    <div class="flex gap-3 items-center overflow-hidden">
                      <div class="flex text-3xl font-medium text">5</div><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 40px;">
                        <path
                          d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                          fill="transparent" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-4 text-white">
                  <div class="flex flex-1 gap-3 border-b border-white py-2 items-center">
                    <div class="flex-1">
                      <div class="font-bold text-xl">Knife Party Party</div>
                      <div class="mt-1 text-large">Liberty Brewing</div>
                    </div>
                    <div class="flex gap-3 items-center overflow-hidden">
                      <div class="flex text-3xl font-medium text">5</div><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 40px;">
                        <path
                          d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                          fill="transparent" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-4 text-white">
                  <div class="flex flex-1 gap-3 border-b border-white py-2 items-center">
                    <div class="flex-1">
                      <div class="font-bold text-xl">Springwood</div>
                      <div class="mt-1 text-large">Pacific Coast Brewery </div>
                    </div>
                    <div class="flex gap-3 items-center overflow-hidden">
                      <div class="flex text-3xl font-medium text">5</div><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 40px;">
                        <path
                          d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                          fill="transparent" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-4 text-white">
                  <div class="flex flex-1 gap-3  border-white py-2 items-center">
                    <div class="flex-1">
                      <div class="font-bold text-xl">Fresh Hop Bitterbitch IPA</div>
                      <div class="mt-1 text-large">Parrotdog</div>
                    </div>
                    <div class="flex gap-3 items-center overflow-hidden">
                      <div class="flex text-3xl font-medium text">4.5</div><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 40px;">
                        <path
                          d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                          fill="transparent" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="px-6 pb-6">
              <div class="mt-6"></div>
            </div>
          </div>
        </div>
        <div id="CHECK-INS" class="m-3 mb-8 scroll-margin bg-white text-green">
          <div class="px-5 font-medium flex gap-2 items-center">
            <h2 class="flex-1 text-7xl text-green font-bold">Check-ins</h2><span class="flex"></span>
          </div>
          <div>
            <div class="bg-green-600 p-4 md:p-8 md:px-16 mx-1 mb-4">
              <div class="grid grid-cols-3 grid-flow-row text-white text-2xl items-center gap-3">
                <div class="">Year</div>
                <div class="text-right">Check-ins</div>
                <div class="min-[0px]:max-sm:hidden text-right">Change to LY</div>
                <div class="sm:hidden text-right">Change</div>
              </div>
              <div class="grid grid-cols-3 grid-flow-row text-lime-300 text-3xl gap-3">
                <div class="">2023</div>
                <div class="text-right">148</div>
                <div class="text-right">
                  <div class="flex items-center justify-end gap-2"><svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 fill-lime-300">
                  <path d="m4 15-3-3L13 1l12 11-3 3-7-6.5V25h-4V8.5L4 15Z" stroke="#000"></path>
                  </svg><span>27</span></div>
                </div>
              </div>
              <div class="grid grid-cols-3 grid-flow-row text-pink-500 text-3xl gap-3">
                <div class="">2022</div>
                <div class="text-right">121</div>
                <div></div>
              </div>
            </div>
            <div class="mx-2 mt-7 mb-11">
              <p class="font-bold text-2xl mb-7 text-green-600">Check-ins by day</p>
              <div class="m-auto flex flex-row gap-3 justify-around mx-3">
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-green-600" style="height: 42.0488%;">
                      <div class="flex font-bold -mt-6 justify-center">27</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Sun</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-green-600" style="height: 5.82927%;">
                      <div class="flex font-bold -mt-6 justify-center">3</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Mon</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-green-600" style="height: 13.0732%;">
                      <div class="flex font-bold -mt-6 justify-center">5</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Tues</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-green-600" style="height: 5.82927%;">
                      <div class="flex font-bold -mt-6 justify-center">6</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Wed</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-green-600" style="height: 34.8049%;">
                      <div class="flex font-bold -mt-6 justify-center">19</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Thur</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-lime-500" style="height: 100%;">
                      <div class="flex font-bold -mt-6 justify-center">44</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Fri</div>
                  </div>
                </div>
                <div class="w-full text-green-600">
                  <div class="h-[100px] items-end flex">
                    <div class="w-full bg-lime-500" style="height: 100%;">
                      <div class="flex font-bold -mt-6 justify-center">44</div>
                    </div>
                  </div>
                  <div class="mt-1">
                    <div class="flex text-center justify-center font-bold">Sat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-green-600 p-4 md:p-16 mx-1 mb-4 gap-4 flex flex-col md:flex-row md:items-center md:justify-between">
              <p class="text-white font-bold text-2xl leading-10">My Average Rating:</p>
              <div class="flex items-center text-white gap-4">
                <p class="flex font-bold text-8xl leading-none">3.49</p><svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
                  style="width: 60px; height: 60px;">
                  <path
                    d="M26.173 2.722a3.55 3.55 0 0 1 5.654 0 3.55 3.55 0 0 0 4.617.918 3.55 3.55 0 0 1 5.224 2.164 3.55 3.55 0 0 0 3.914 2.616 3.55 3.55 0 0 1 3.998 3.998 3.55 3.55 0 0 0 2.616 3.914 3.55 3.55 0 0 1 2.164 5.224 3.55 3.55 0 0 0 .918 4.617 3.55 3.55 0 0 1 0 5.654 3.55 3.55 0 0 0-.918 4.617 3.55 3.55 0 0 1-2.164 5.224 3.55 3.55 0 0 0-2.615 3.914 3.55 3.55 0 0 1-3.999 3.998 3.55 3.55 0 0 0-3.914 2.616 3.55 3.55 0 0 1-5.224 2.164 3.55 3.55 0 0 0-4.617.918 3.55 3.55 0 0 1-5.654 0 3.55 3.55 0 0 0-4.617-.918 3.55 3.55 0 0 1-5.224-2.164 3.55 3.55 0 0 0-3.914-2.615 3.55 3.55 0 0 1-3.998-3.999 3.55 3.55 0 0 0-2.616-3.914 3.55 3.55 0 0 1-2.164-5.224 3.55 3.55 0 0 0-.918-4.617 3.55 3.55 0 0 1 0-5.654 3.55 3.55 0 0 0 .918-4.617 3.55 3.55 0 0 1 2.164-5.224 3.55 3.55 0 0 0 2.616-3.914 3.55 3.55 0 0 1 3.998-3.998 3.55 3.55 0 0 0 3.914-2.616 3.55 3.55 0 0 1 5.224-2.164 3.55 3.55 0 0 0 4.617-.918Z"
                    fill="transparent" stroke="currentColor" stroke-width="2"></path>
                </svg>
              </div>
            </div>
            <div class="flex flex-col px-5 items-center justify-between gap-4 md:flex-row undefined">
              <p class="text-3xl font-medium text-green-600">My first checkin was <span class="font-bold">San Chico</span>
                  on New Years day</p>
              <div>
                <div class="relative" style="width: 300px; height: 300px;"><img alt="beer image" loading="lazy" decoding="async" data-nimg="fill"
                    class="absolute top-0 left-0 rounded-full"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;" sizes="100vw"
                    srcset="/assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-1.jpg 640w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-2.jpg 750w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-3.jpg 828w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-4.jpg 1080w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-5.jpg 1200w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-6.jpg 1920w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280-7.jpg 2048w, /assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280.jpg 3840w"
                    src="/assets/images/experiments/untappd/8d7a8f02286b6629cda1ea4b9c5a7264_1280x1280.jpg"><img alt="" loading="lazy" width="300" height="300" decoding="async" data-nimg="1"
                    class="absolute top-0 left-0" style="color: transparent;" srcset="/assets/images/experiments/untappd/white_mask.14c5ea5e-1.png 1x, /assets/images/experiments/untappd/white_mask.14c5ea5e.png 2x"
                    src="/assets/images/experiments/untappd/white_mask.14c5ea5e.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="BADGES" class="m-3 mb-8 scroll-margin bg-orange-500 text-white">
          <div class="px-5 font-medium flex gap-2 items-center">
            <h2 class="flex-1 text-7xl text-white font-bold">Badges</h2>
          </div>
          <div>
            <div class="bg-green-600 p-4 mx-1 flex-column items-center text-white">
              <p class="text-3xl leading-10 md:px-16">My top badges</p>
              <div class="bg-green-600 md:pb-2 md:px-16 mx-1">
                <div class="grid grid-cols-3 text-2xl items-center mt-1">
                  <div>Badge</div>
                  <div class="col-span-2 text-right">Level</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-300">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/bdg_VerifiedVenue_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_VerifiedVenue_sm.jpg 2x"
                      src="/assets/images/experiments/untappd/bdg_VerifiedVenue_sm.jpg">Verified Adventure</div>
                  <div class="text-right motion-safe:animate-pulse">100</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-pink-500">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/bdg_GloryCan_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_GloryCan_sm.jpg 2x"
                      src="/assets/images/experiments/untappd/bdg_GloryCan_sm.jpg">For the Can</div>
                  <div class="text-right motion-safe:animate-pulse">85</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-orange-500">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;"
                      srcset="/assets/images/experiments/untappd/bdg_brewery_prioneer_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_brewery_prioneer_sm.jpg 2x" src="/assets/images/experiments/untappd/bdg_brewery_prioneer_sm.jpg">Brewery Pioneer</div>
                  <div class="text-right motion-safe:animate-pulse">63</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-500">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/bdg_RidingSteady_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_RidingSteady_sm.jpg 2x"
                      src="/assets/images/experiments/untappd/bdg_RidingSteady_sm.jpg">Riding Steady</div>
                  <div class="text-right motion-safe:animate-pulse">62</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-red-500">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/bdg_PaleMoon_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_PaleMoon_sm.jpg 2x"
                      src="/assets/images/experiments/untappd/bdg_PaleMoon_sm.jpg">Pale as the Moon</div>
                  <div class="text-right motion-safe:animate-pulse">58</div>
                </div>
              </div>
            </div>
            <div class="my-5 mx-4 font-bold text-2xl text-green-600 leading-8">I earned 111 badges in 2023! <span class="font-medium">1 less than
                last year.</span></div>
            <div class="bg-green-600 p-4 mx-1 flex-column items-center text-white">
              <p class="text-3xl leading-10 md:px-16">My top local badges</p>
              <div class="bg-green-600 md:pb-2 md:px-16 mx-1">
                <div class="grid grid-cols-3 text-2xl items-center mt-1">
                  <div>Badge</div>
                  <div class="col-span-2 text-right">LVL</div>
                </div>
                <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-300">
                  <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                      class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/bdg_untappdAtHome_sm-1.jpg 1x, /assets/images/experiments/untappd/bdg_untappdAtHome_sm.jpg 2x"
                      src="/assets/images/experiments/untappd/bdg_untappdAtHome_sm.jpg">Untappd at Home</div>
                  <div class="text-right motion-safe:animate-pulse">59</div>
                </div>
              </div>
            </div>
            <div class="px-6 pb-6"></div>
          </div>
        </div>
        <div></div>
        <div id="BREWERIES" class="m-3 mb-8 scroll-margin bg-red-600 text-white">
          <div class="px-5 font-medium flex gap-2 items-center">
            <h2 class="flex-1 text-7xl text-white font-bold">Breweries</h2>
          </div>
          <div>
            <div class="mx-1 bg-green-600 text-white mb-4">
              <div class="p-4 pr-6">
                <p class="font-bold text-3xl text-white">I drank from 39 unique breweries.</p>
              </div>
            </div>
            <div class="mb-4">
              <div class="bg-green-600 p-4 mx-1 flex-column items-center text-white">
                <p class="text-3xl leading-10 md:px-16">My top breweries</p>
                <div class="bg-green-600 md:pb-2 md:px-16 mx-1">
                  <div class="grid grid-cols-3 text-2xl items-center mt-1">
                    <div>Brewery</div>
                    <div class="col-span-2 text-right">Beers drunk</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-300">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/brewery-14539_db827-1.jpeg 1x, /assets/images/experiments/untappd/brewery-14539_db827.jpeg 2x"
                        src="/assets/images/experiments/untappd/brewery-14539_db827.jpeg">Garage Project</div>
                    <div class="text-right motion-safe:animate-pulse">42</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-pink-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/brewery-22046_6ef12-1.jpeg 1x, /assets/images/experiments/untappd/brewery-22046_6ef12.jpeg 2x"
                        src="/assets/images/experiments/untappd/brewery-22046_6ef12.jpeg">Baylands Brewery</div>
                    <div class="text-right motion-safe:animate-pulse">25</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-orange-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/brewery-73616_cc140-1.jpeg 1x, /assets/images/experiments/untappd/brewery-73616_cc140.jpeg 2x"
                        src="/assets/images/experiments/untappd/brewery-73616_cc140.jpeg">Behemoth Brewing Company</div>
                    <div class="text-right motion-safe:animate-pulse">8</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/brewery-14582_25978-1.jpeg 1x, /assets/images/experiments/untappd/brewery-14582_25978.jpeg 2x"
                        src="/assets/images/experiments/untappd/brewery-14582_25978.jpeg">Parrotdog</div>
                    <div class="text-right motion-safe:animate-pulse">5</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-red-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/brewery-3555_c5bdb-1.jpeg 1x, /assets/images/experiments/untappd/brewery-3555_c5bdb.jpeg 2x"
                        src="/assets/images/experiments/untappd/brewery-3555_c5bdb.jpeg">Epic Brewing Company </div>
                    <div class="text-right motion-safe:animate-pulse">5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 pb-6"></div>
          </div>
        </div>
        <div id="LOCATIONS" class="m-3 mb-8 scroll-margin bg-lime-400 text-green">
          <div class="px-5 font-medium flex gap-2 items-center">
            <h2 class="flex-1 text-7xl text-green font-bold">Locations</h2>
          </div>
          <div>
            <div class="mx-1 bg-green-600 text-white mb-4">
              <div class="p-4 pr-6">
                <p class="font-bold text-3xl text-white">I visited 15 unique venues. <span class="font-medium">6 more than last year!</span></p>
              </div>
            </div>
            <div class="mb-4">
              <div class="bg-green-600 p-4 mx-1 flex-column items-center text-white">
                <p class="text-3xl leading-10 md:px-16">My Favourite Venues<p>
                <div class="bg-green-600 md:pb-2 md:px-16 mx-1">
                  <div class="grid grid-cols-3 text-2xl items-center mt-1">
                    <div>Venue</div>
                    <div class="col-span-2 text-right">Total Visits</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-300">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;"
                        srcset="/assets/images/experiments/untappd/venue_302410_77f91fdc_bg_64-1.png 1x, /assets/images/experiments/untappd/venue_302410_77f91fdc_bg_64.png 2x" src="/assets/images/experiments/untappd/venue_302410_77f91fdc_bg_64.png">Baylands Brewery
                      Taproom</div>
                    <div class="text-right motion-safe:animate-pulse">21</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-pink-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/stadium_bg_64-1.png 1x, /assets/images/experiments/untappd/stadium_bg_64.png 2x"
                        src="/assets/images/experiments/untappd/stadium_bg_64.png">Beervana</div>
                    <div class="text-right motion-safe:animate-pulse">14</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-orange-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;" srcset="/assets/images/experiments/untappd/pub_bg_64-1.png 1x, /assets/images/experiments/untappd/pub_bg_64.png 2x"
                        src="/assets/images/experiments/untappd/pub_bg_64.png">Onetangi Beach</div>
                    <div class="text-right motion-safe:animate-pulse">8</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-lime-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;"
                        srcset="/assets/images/experiments/untappd/pub_bg_64.png">Alibi Brewers Lounge</div>
                    <div class="text-right motion-safe:animate-pulse">3</div>
                  </div>
                  <div class="grid grid-flow-col text-3xl mb-3 leading-none text-red-500">
                    <div class="flex flex-row gap-3 items-center "><img alt="friend" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                        class="rounded-full" style="color: transparent; object-fit: cover;"
                        srcset="/assets/images/experiments/untappd/pub_bg_64.png">Club Tropicana</div>
                    <div class="text-right motion-safe:animate-pulse">3</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 pb-6"></div>
          </div>
        </div>
      </div>
    </div>

{% include "partials/webmentions.njk" %}