---
layout: base
---

<header class="section spot-color-primary">
  {% include 'svg/divider-edgy.svg' %}

  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region">
  <div class="wrapper flow prose">
    <ul class="flow">
      {% for item in changelog.changeLog | reverse %}
        <li>
          {% set definedDate = item.date %}
          {% include "partials/date.njk" %}: {{ item.update }}
        </li>
      {% endfor %}
    </ul>
  </div>
</article>