<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title }} : {% endif %}{{ meta.siteName }} {{ meta.siteVer }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{{ pageDescription }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  <title>{{ pageTitle }}</title>

  <link rel="shortcut icon" href="{{ page | relative }}img/favicon.png" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ page | relative }}img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ page | relative }}img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ page | relative }}img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ page | relative }}img/favicon/site.webmanifest">

  <link rel="stylesheet" href="{{ page | relative }}css/styles.css" />

  <!-- inject custom css from front matter -->
  {% if css %}
  <link rel="stylesheet" href="{{css}}" />
  {% endif %}
</head>

<body>

  <header class="header">
    <img src="{{ page | relative }}img/header.png" alt="Flamed Fury header image">
  </header>

  <div class="container">

    <div class="grid">
      <nav class="nav">
        <span aria-current="page" class="span-home">{{ eleventyNavigation.key }}</span>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
        {% include "partials/_nav.njk" %}
      </nav>
      <main class="main">
        <article>
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </article>
      </main>
      <aside class="sidebar">
        <p class="sidebar__subtitle">Link me</p>
        <ul>
          <li><img src="{{ page | relative }}img/buttons/flamedfury22.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
          <li><img src="{{ page | relative }}img/buttons/fury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
          <li><img src="{{ page | relative }}img/buttons/flamedfury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!">
          </li>
          <li><img src="{{ page | relative }}img/buttons/flamedfury2.gif" width="88" height="31" alt="Visit fLaMEdFury Now!">
          </li>
          <li><img src="{{ page | relative }}img/buttons/flamedfurybutton.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
        </ul>

        <p class="sidebar__subtitle">Webrings</p>
        <ul>
          <li><a target="blank" href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://flamedfury.com/">&lt;&lt;</a>&nbsp;<a
              href="https://yesterweb.org/webring/members.html">Yeseterweb</a>:<a target="blank"
              href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://flamedfury.com/">?</a>&nbsp;<a target="blank"
              href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://flamedfury.com/">&gt;&gt;</a>
          </li>
          <li><a target="blank" href="https://weirdwidewebring.net/prev.html">&lt;&lt;</a>&nbsp;<a href="https://weirdwidewebring.net/">WWW</a>:<a
              target="blank" href="https://weirdwidewebring.net/random.html">?</a>&nbsp;<a target="blank"
              href="https://weirdwidewebring.net/next.html">&gt;&gt;</a>
          </li>
          <li><a href='https://webring.dinhe.net/prev/https://flamedfury.com'>&lt;&lt;</a>&nbsp;<a href="https://webring.dinhe.net/">Retronaut</a>:<a
              target="blank" href="https://webring.dinhe.net/random">?</a>&nbsp;<a href='https://webring.dinhe.net/next/https://flamedfury.com'>&gt;&gt;</a>
          </li>
        </ul>
      </aside>
      <footer class="footer">
        <p class="footer__subtitle">Public Service Announcement 2000</p>
        <p><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fflamedfury.com%2F"><img src="{{ page | relative }}img/badges/valid_html5.png"
              alt="fLaMEdFury is HTML5 valid!" width="88" height="15"></a> <a
            href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fflamedfury.com&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en#css"><img
              src="{{ page | relative }}img/badges/valid_css3.png" alt="fLaMEdFury is CSS3 valid!" width="88" height="15"></a> <a
            href="https://validator.w3.org/feed/check.cgi?url=flamedfury.com%2Ffeed"><img src="{{ page | relative }}img/badges/valid_rss.png"
              alt="fLaMEdFury is a Valid ATOM 1.0 feed!" width="88" height="15"></a></p>
        <p>Copyright &copy; 2000 - {% year %} by {% if meta.authorName %} {{ meta.authorName }}{% endif
          %}. Some rights reserved. Don't jack.</p>
      </footer>
    </div>

  </div>

  <script src="{{ page | relative }}js/main.js"></script>

</body>

</html>