<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title }} : {% endif %}{{ meta.siteName }} {{ meta.siteVer }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{{ pageDescription }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  <title>{{ pageTitle }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Source+Sans+Pro:wght@400;900&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="{{ page | relative }}img/favicon.png" />

  <link rel="stylesheet" href="{{ page | relative }}css/styles.css" />

  <!-- inject custom css from front matter -->
  {% if css %}
  <link rel="stylesheet" href="{{css}}" />
  {% endif %}
</head>

<body>

  <header class="header">
    <img src="{{ page | relative }}img/header.png" alt="Flamed Fury header image">
  </header>

  <div class="container grid grid-main">

    <nav class="nav">
      <a href="{{ page | relative }}" class="btn">Home</a>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
      {% include "partials/_nav.njk" %}
    </nav>

    <main class="main">
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>

    <aside class="sidebar">
      <p class="sidebar__subtitle">Link me</p>
      <ul>
        <li><img src="{{ page | relative }}img/buttons/flamedfury22.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
        <li><img src="{{ page | relative }}img/buttons/fury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
        <li><img src="{{ page | relative }}img/buttons/flamedfury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!">
        </li>
        <li><img src="{{ page | relative }}img/buttons/flamedfury2.gif" width="88" height="31" alt="Visit fLaMEdFury Now!">
        </li>
        <li><img src="{{ page | relative }}img/buttons/flamedfurybutton.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
      </ul>
    </aside>

    <footer class="footer">
      <p class="footer__subtitle">Public Service Announcement 2000</p>
      <p><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fflamedfury.com%2F"><img src="{{ page | relative }}img/badges/valid_html5.png"
            alt="fLaMEdFury is HTML5 valid!" width="88" height="15"></a> <a
          href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fflamedfury.com&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en#css"><img
            src="{{ page | relative }}img/badges/valid_css3.png" alt="fLaMEdFury is CSS3 valid!" width="88" height="15"></a> <a
          href="https://validator.w3.org/feed/check.cgi?url=flamedfury.com%2Ffeed"><img src="{{ page | relative }}img/badges/valid_rss.png"
            alt="fLaMEdFury is a Valid ATOM 1.0 feed!" width="88" height="15"></a></p>
      <p>Copyright &copy; 2000 - {% year %} by {% if meta.authorName %} {{ meta.authorName }}{% endif
        %}. Some rights reserved. Don't jack.</p>
    </footer>

  </div>

  <script src="{{ page | relative }}js/main.js"></script>

</body>

</html>