<h3>I am...</h3>
<ul role="list">
  <li>🏡 Living in Te Awa Kairangi, Aotearoa</li>
  <li>👨 Balancing work and being a dad</li>
  <li>🏗️ Building flamedfury.com</li>
  <li>☕ Supporting the <a href="https://32bit.cafe">32-Bit Cafe</a></li>
</ul>
<p><a href="/now/">What I'm up to now</a>.</p>