<ul role="list">
  {% if movies and movies.length > 0 %}
    <li>🍿 {{ movies[0].movie.title }} ({{ movies[0].movie.year }})</li>
  {% endif %}
  {% if tv and tv.length > 0 %}
    <li>📺 {{ tv[0].show.title }} - {{ tv[0].episodeRange }}</li>
  {% endif %}
</ul>