{% set started_books_found = false %}
{% for book in bookshelf %}
  {% if book.status == 'started' %}
    {% set started_books_found = true %}
  {% endif %}
{% endfor %}

{% if started_books_found %}
  {% for book in bookshelf | reverse %}
    {% if book.status == 'started' %}
      <p>📚 Reading {{ book.title }} by {{ book.authors[0] }}</p>
    {% endif %}
  {% endfor %}
{% else %}
  {% set mostRecentFinishedBook = bookshelf | getMostRecentFinishedBook %}
  {% if mostRecentFinishedBook %}
    <p>📚 Just finished {{ mostRecentFinishedBook.title }} by {{ mostRecentFinishedBook.authors[0] }}</p>
  {% endif %}
{% endif %}
<p><a href="/bookshelf/">Bookshelf</a></p>