<h3>Webrings</h3>
<div class="cluster">
  <!--] cs.sjoy.lol [-->
  <p>
    <a href="https://webri.ng/webring/cssjoy/previous?via=https://flamedfury.com"><< </a>
    <a href="https://cs.sjoy.lol">CS.Sjoy.lol</a>
    <a href="https://webri.ng/webring/cssjoy/next?via=https://flamedfury.com">>></a>
  </p>

  <!--] neossg.neocities.org []-->
  <p id="neossg">
    <script src="https://neossg.neocities.org/onionring-variables.js"></script>
    <script src="https://neossg.neocities.org/onionring-widget.js"></script>
  </p>
</div>