<h2>What's going on Internet?</h2>
<p>Kia ora! 👋 I'm <span class="gradient-text">fLaMEd</span>🔥 I'm the webmaster of <span class="gradient-text">fLaMEd fury</span>, a collection of stuff that means everything to me and probably nothing to you.</p>

<p>I've been surfing the web since <a href="/memories/">1996</a>. I <a href="/posts/i-love-the-web">love the web</a> and writing <a href="/tags/web/">about the web</a>.</p>

<p>Outside of the pixels, I'm a husband and father of two from Te Awa Kairangi, and living in Tāmaki Makaurau, Aotearoa 🏡. I'm balancing work and being a dad 👨 while building flamedfury.com 🏗️ and supporting the <a href="https://32bit.cafe">32-Bit Cafe</a> ☕.</p>

<p>Once you've looked around, don't hesitate to <a href="/hello/">get in touch</a>! I'd love to hear from you.</p>

<p>This homepage is my love letter to the web. Think of it as a throwback to the old everything/nothing websites of the early 2000s.</p>