---
permalink: /feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ meta.blog.name }}",
  "description": "{{ meta.blog.description }}",
  "home_page_url": "{{ meta.url | addPathPrefixToFullUrl }}",
  "feed_url": "{{ meta.url }}/feed.json",
  "icon": "{{ meta.url }}/favicon.ico",
  "favicon": "{{ meta.url }}/favicon.ico",
  "author": {
    "name": "{{ meta.author.name }}"{% if meta.author.email %},
    "url": "{{ meta.url | addPathPrefixToFullUrl }}"{% endif %}
  },
  "items": [
    {% set itemslist = collections.posts | reverse -%}
    {%- for item in itemslist | limit(10) -%}
      {%- set absoluteItemUrl %}{{ item.url | url | absoluteUrl(meta.url) }}{% endset -%}
      {
        "id": "{{ absoluteItemUrl }}",
        "title": "{{ item.data.title | replace('"', '\\"') }}",
        "url": "{{ absoluteItemUrl }}",
        "content_html": "{{ item.templateContent | htmlToAbsoluteUrls(absoluteItemUrl) | safe | replace('"', '\\"') | replace('\n', '\\n') | replace('\r', '\\r') }}<p>Hey, thanks for reading this post in your feed reader! Want to chat? <a href=\"mailto:hello@flamedfury.com?subject=RE: {{ item.data.title }}\">Reply by email</a> or add me on <a href=\"xmpp:flamed@omg.lol\">XMPP</a>, or send a <a href=\"{{ absoluteItemUrl }}#webmention\">webmention</a>. Check out the <a href=\"https://flamedfury.com/posts/\">posts archive</a> on the website.</p>",
        "date_published": "2025-09-13T00:00:00Z"{% if item.data.description %},
        "summary": "{{ item.data.description | replace('"', '\\"') }}"{% endif %}
      }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}