---
title: Site Updates
description: All site updates for flamedfury.com
---

<ul class="updates">
  {% for post in collections.updates | reverse | limit(10) %}
  <li>{{ post.templateContent | safe }}</li>
  {% endfor %}
</ul>