---
title: Archive
layout: page
permalink: /archive/index.html
---

<p>All posts by year.</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% include 'svg/divider-soft-top.svg' %}
  <section class="section__inner wrapper">
    <article class="region wrapper flow prose" style="--region-space-top: var(--space-l)">

    {%- for year, yearPosts in collections.postsByYear %}
      <h2>{{ year }}</h2>
      <ul>
        {%- for post in yearPosts | reverse %}
          <li>{{ post.date | formatDate('MMMM D, YYYY') }} | <a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
        {% endfor -%}
      </ul>
    {% endfor -%}
    </article>
  </section>
</article>
