---
layout: bookmark
pagination:
    data: bookmarks
    size: 1
    alias: bookmark
    addAllPagesToCollections: true
permalink: 'bookmarks/{{ bookmark.title | slugify }}/index.html'
isBookmark: true
eleventyComputed:
    title: "{{ bookmark.title }}"
    sourceurl: "{{ bookmark.url }}"
    notes: "{{ bookmark.notes }}"
    date: "{% if bookmark.timestamp %}{{ bookmark.timestamp }}{% else %}{{ bookmark.date }}{% endif %}"
    hashtags: "{{ bookmark.tags }}"
---
    {% if bookmark.quote %}
    <blockquote>{{ bookmark.quote }}</blockquote>
    {% endif %}

    <p class="p-summary">
        {{ bookmark.notes }}
    </p>