---
title: Bookmarks
layout: page
type: bookmarks
pagination:
  data: collections.allBookmarks
  size: 20
  reverse: true
permalink: 'bookmarks/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
redirectFrom:
  - /bookmarks/tags/
---

<div class="region flow prose" style="--region-space-top: var(--space-l)">
  <p>A curated collection of links, articles, and resources I've found worth sharing. Browse by topic using the tags below, or follow along via <a href="/feeds/">RSS</a>.</p>
</div>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "seperator" %}
  <section class="section__inner wrapper">
    <div class="region flow" style="--region-space-top: var(--space-m); --region-space-bottom: var(--space-m)">
      <div class="taglist | cluster">
        {% for tag in collections.bookmarkTagList %}
        <a href="/bookmarks/tags/{{ tag | slugify | urlencode }}/" class="button" data-button-variant="primary">
          {{ tag }}
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  {% svg "divider/soft-bottom", null, "seperator" %}
</article>

<ul class="flow region" role="list">
  {% for bookmark in pagination.items %}
  <li>
    <h3>
      <a href="{{ bookmark.url }}" target="_blank" rel="noopener">{{ bookmark.data.title | safe }}</a>
    </h3>
    <div class="cluster">
      <span class="text-step-min-1">
        {% set definedDate = bookmark.data.date %}
        {% include "partials/date.njk" %}
      </span>
      {% if bookmark.data.tags %}
        {% for tag in bookmark.data.tags %}
        <a href="/bookmarks/tags/{{ tag | slugify | urlencode }}/" class="button" data-small-button data-button-variant="primary">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <p>{{ bookmark.data.notes | safe }}</p>
  </li>
  {% endfor %}
</ul>

<!-- set collection to paginate -->
{% set collectionToPaginate = collections.allBookmarks %}
<!-- set target pagination settings in meta.js -->
{% set metaKey = "bookmarks" %}
<!-- if the number of items in the collection is greater than the number of items shown on one page -->
{% if collectionToPaginate.length > pagination.size %}
<!-- include pagination -->
{% include 'partials/pagination.njk' %}
{% endif %}