---
title: Gameshelf
description: Where I collect the games that I'm playing, want to play or have finished playing
layout: page
permalink: /gameshelf/index.html
date: 2021-02-22
updated: 2024-01-15
---

<p>🚧 Under construction 🚧</p>

<p>
  I've always been into computer games and have played them for as long as I can remember.
  You can read more about that over here,
  <a href="/posts/video-games-and-me/">Video Games And Me</a>.
</p>

<p>
  This page has been a list of game titles for almost four years. I drew inspiration from
  these game pages to start working on my page.
</p>
<ul>
  <li><a href="https://chriskirknielsen.com/games/">CKN Games</a></li>
  <li><a href="https://localghost.dev/games/">localghost Games</a></li>
  <li><a href="https://tylersticka.com/journal/favorite-games/">Tyler Sticka Favourite Games</a></li>
  <li><a href="https://alistairshepherd.uk/games/">Alistair Shepherd Games</a></li>
</ul>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "seperator" %}
  <section class="section__inner wrapper">
    <div class="flow">
      <h3>Simcity 2000</h3>
      <p>1993 | Maxis | City Building | PC</p>
      <p>
        Simcity 2000 was a game I spent many hours playing at other peoples houses. Around
        the time of its release we either still had the Commodore 64 and a Sega Master
        System so it wasn't an option to play at home. When we got our first PC at home a
        family friend loaded this and Dune II with a bunch of shareware and demo games and
        I was set. I'd continue playing on and off for years.
      </p>
    </div>
    <div class="flow | mt-xl">
      <h3>Dune II</h3>
      <p>1992 | Westwood Studios | Real-time Strategy | PC</p>
      <p>
        Dune II was my introduction to real-time strategy games and the concept of Dune.
        This game set the standard of what RTS games would become and had heavy influences
        on games like Command & Conquer. I spent hours playing this game. The craziest
        thing I remember was having to keep an eye on your spice harvestors as they were
        at risk of being swallowed by the sand worms. Super fustrating losing your last
        harvester to a worm and having to start a mission all over again.
      </p>
    </div>
    <div class="flow | mt-xl">
      <h3>Command & Conquer</h3>
      <p>1995 | Westwood Studios | Real-time Strategy | PC</p>
      <p>
        One of the first games we got on CD-ROM once we had our own PC at home running
        Windows 95. I don't remember how we found out about C&C. We spent a lot of time at
        an Internet Cafe playing C&C multiplayer (for $20 an hour) but can't remember if
        that came before or after getting the PC at home. Anyway I either spent hours
        playing through the campaign by myself or multiplayer with my brother and friends
        at the Internet Cafe. We didn't have Internet during 1995 but the first thing I
        remember downloading from the Internet at a family friend's house was a `.bat`
        file that allowed me to edit the unit properties. In the end it destroyed the fun
        of playing the game at home. My last memory of this was my save point on the last
        GDI mission that was right before I lost. I never did end up finishing...
      </p>
    </div>
    <div class="flow | mt-xl">
      <h3>Theme Park</h3>
      <p>
        1994 | Bullfrog Productions | Real-time Strategy | Construction and Management Sim
        | PC
      </p>
      <p>
        This must have been the second game along side Command & Conquer...
      </p>
    </div>
  </section>
  {% svg "divider/soft-bottom", null, "seperator" %}
</article>

<details>
  <summary>games for reference</summary>

  ### Need to finish Games that I've started, but never ended up finishing: - Assassian's
  Creed IV Black Flag - Assassin's Creed Odyssey - Mass Effect Andromeda - Path of Exile -
  Pillars of Eternity - Warhammer 40,000: Dawn of War - Warhammer 40,000: Dawn of War II -
  Watch_Dogs2 - Marvel's Guardians of the Galaxy (PC) - Need For Speed (2015) (PC) -
  Kingdoms of Amalur: Re-Reckoning Review (Steam Deck) ### Games I loved Games that I've
  played, finished and loved playing: #### PC - Assassin's Creed II - Assassin's Creed III
  - Bioshock Inifinite - Borderlands 2 - Darksiders II - Diablo III - The Elder Scrolls V:
  Skyrim - Grand Theft Auto IV - Kingdom's of Amalur: Reckoning - Mass Effect - Mass
  Effect 2 - Mass Effect 3 - Max Payne 3 - Saints Row: The Third - Saints Row IV - Tomb
  Raider - Rise of the Tomb Raider - Shadow of the Tomb Raider - Star Wars: Knights of the
  Old Republic - The Witcher: Enhanced Edition - The Witcher 2: Assassins of Kings Edition
  - The Witcher 3: Wild Hunt - Grand Theft Auto V - Cities: Skylines #### PS3 -
  Darksiders: Wrath of War - Grand Theft Auto IV - Red Dead Redepmtion - Uncharted:
  Drake's Fortune - Uncharted 2: Among Thieves - Uncharted 3: Drake's Deception #### Xbox
  - Grand Theft Auto: San Andreas - Halo - Max Payne - Max Payne 2 - Need for Speed
  Underground
</details>
