---
title: History
description: Unveiling the Legacy of Flamed Fury
layout: page
permalink: /history/index.html
date: 2023-11-06
updated: 2024-01-19
---

<p>This page is under construction and will be available soon.</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% include 'svg/divider-soft-top.svg' %}
  <section class="section__inner wrapper">
    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-1999.png">
          <img
            src="/assets/images/pages/history/flamedfury-1999-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>1999</strong>://flamedfury ultra v3.0</p>
        <p>
          Skate ipsum dolor sit amet, mongo coper lien air crooked grind. Quarter pipe
          1080 Primo slide vert. Varial flypaper hang up crail slide. Coping grab roll-in
          tail. Front foot impossible flypaper judo air pressure flip. Flail pump rail pop
          shove-it Zorlac. Judo air lipslide hardware Memory Screen tailslide. Stoked
          hang-up aerial 900 Johnny Rad. Tuna-flip smith grind rock and roll salad grind.
          Judo air mini ramp nosegrind acid drop.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2000.png">
          <img
            src="/assets/images/pages/history/flamedfury-2000-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2000</strong>://flamedfury ultimate v4.0</p>
        <p>
          Skate ipsum dolor sit amet, invert hang up frigid air Japan air boned out
          concave McTwist kickflip. Handplant hardware boardslide full-cab mongo Saran
          Wrap risers. Downhill regular footed trucks skater Kris Markovich 270 rip grip
          Kevin Harris. Roll-in air bigspin aerial Eight Dayz sketchy sick mini ramp.
          Mute-air full-cab snake quarter pipe melancholy pop shove-it nosegrind. Stoked
          Kevin Harris kickturn gap Saran Wrap invert Jeremy Wray death box. No comply
          varial lien air rad Japan air rock and roll nosepicker. Transfer pop shove-it
          fakie hip 270 coffin crail grab. Darkslide ollie hole cess slide deck slap
          maxwell switch opposite footed.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2001.png">
          <img
            src="/assets/images/pages/history/flamedfury-2001-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2001</strong>://flamedfury 2k1 edition</p>
        <p>
          Skate ipsum dolor sit amet, nollie kick-nose Neal Hendrix method air sick.
          Pressure flip boardslide full pipe axle Steve Chumney. Cab flip sketchy skate or
          die vert Steve Caballero. Matt Hensley acid drop Primo slide roll-in frontside.
          Crail grab pop shove-it half-cab coper H-Street. Wheels method air melancholy
          stoked Rector. Sponsored pool slap maxwell Santa Monica Airlines 180. Half-cab
          risers skate key rock and roll Powell Peralta. Pool judo air ollie hole boned
          out. Goofy footed pool stalefish betty.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2002.png">
          <img
            src="/assets/images/pages/history/flamedfury-2002-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2002</strong>://flamedfury 5 the return</p>
        <p>
          Skate ipsum dolor sit amet, Santa Cruz grind 540 rail slide feeble. Impossible
          mute-air half-cab rails. Sketchy Christ air darkslide freestyle. Concave grab
          late The Faction pump. Transfer lip ho-ho hardware Shiloh Greathouse. Ollie hole
          downhill rail slide rad Bones Brigade. Indy grab betty fast plant gnarly. Coffin
          roll-in darkslide hang ten Daggers. Andy Takakjian Kevin Harris casper body
          varial hanger. Face plant flypaper 180 hip Alien Workshop. Fakie casper slide
          tail hospital flip.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2021.png">
          <img
            src="/assets/images/pages/history/flamedfury-2021-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2021</strong>://flamedfury 2021</p>
        <p>
          Skate ipsum dolor sit amet, bigspin Donger chicken wing ollie hole axle set.
          Tuna-flip bearings lip Japan air. Willy Santos crail slide rock and roll betty
          tuna-flip. Rip grip rocket air gnarly hang-up. Freestyle berm casper concave.
          Boardslide rails kingpin grab. Transfer 900 coping manual Billy Ruff. Concave
          full-cab fakie out noseblunt slide. Rad finger flip airwalk darkslide Craig
          Patterson.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2022.png">
          <img
            src="/assets/images/pages/history/flamedfury-2022-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2022</strong>://flamedfury 2022</p>
        <p>
          Skate ipsum dolor sit amet, impossible masonite durometer axle camel back John
          Cardiel. Speed wobbles coping tuna-flip 180 transition Rector. Boardslide blunt
          boned out launch ramp Animal Chin 540. Impossible birdie frigid air 900 bail.
          Nose grab nose hand rail pogo bruised heel. Poseur nosebone rad cess slide hang
          up. Aerial boneless stalefish Chris Buchinsky transfer mute-air. Pump helipop
          rails flypaper nollie. Coper ollie hole g-turn mongo Video Days layback. Cess
          slide crooked grind hardware fakie out 270. Kickturn nosepicker full-cab fast
          plant risers. Slappy judo air coper kingpin Alternative Sports quarter pipe.
          50-50 flypaper kickflip coping poseur Steve Severin.
        </p>
      </div>
    </div>

    <div class="sidebar | mt-xl mb-xl">
      <div class="flex place-content-center items-center" style="--sidebar-target-width: 15rem;">
        <a href="/assets/images/pages/history/flamedfury-2023.png">
          <img
            src="/assets/images/pages/history/flamedfury-2023-481w.png"
            alt=""
            title="Visit Flamed Fury Now!"
          />
        </a>
      </div>
      <div>
        <p><strong>2023</strong>://flamedfury 2023</p>
        <p>
          Skate ipsum dolor sit amet, face plant regular footed Erik Foss sponsored
          handplant. Coping hang up Christ air slap maxwell. Half-flip crail grab 540
          shoveit. Feeble hip tuna-flip tail Danny Way. Transfer gnarly Elissa Steamer
          nosegrind heel flip. 180 nosebone kick-nose camel back. Boardslide downhill face
          plant bearings. Wheels street helipop durometer bean plant. Frigid air tailslide
          poseur Vernon Courtland Johnson rail slide. Impossible noseblunt slide locals
          judo air. Ollie hole pivot berm feeble.
        </p>
      </div>
    </div>
  </section>
  {% include 'svg/divider-soft-bottom.svg' %}
</article>
