---
title: fLaMEd fury
permalink: /index.html
description: What's going on Internet? This is my homepage. I write about the web and stuff.
layout: base
quote: true
masonry: true
---

<div class="wrapper">
  <section class="full | region">
    <div class="wrapper">

      <div class="feature | homepage-stack-layout homepage-background-picture">
        <img src="../assets/images/header2024.png" width="1600px">
        <div class="homepage-background-picture__content">
          <h1>{{ title }}</h1>
          <small id="quote"></small>
        </div>
      </div>

      <div class="popout | grid region homepage-content" data-rows="masonry" data-layout="50-50">
        <div class="homepage-card | flow featured">
          {% include "components/homepage/welcome.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/now.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/posts.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/status.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/msg.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/webrings.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/record.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/ondeck.njk" %}
        </div>
        <div class="homepage-card | flow">
          {% include "components/homepage/somepics.njk" %}
        </div>
      </div>
    </div>
  </section>
</div>