---
title: fLaMEd fury
permalink: /index.html
description: What's going on Internet? This is my homepage. I write about the web and stuff.
layout: base
---

<div class="wrapper">
  <section class="full | region">
    <div class="wrapper">

      <div class="feature | homepage-stack-layout homepage-background-picture">
        <img src="../assets/images/header2024.png" alt="Miley Cyrus wearing an I AM HERE black crop top and red pants poses confidently before a dynamic orange and yellow splatter backdrop, exuding an edgy, vibrant energy.">
        <div class="homepage-background-picture__content">
          <h1>{{ title }}</h1>
          <small id="quote"></small>
        </div>
      </div>

      <div class="homepage-grid | region homepage-content">
        <div class="homepage-card welcome | flow featured">
          {% include "components/homepage/welcome.njk" %}
        </div>
        <div class="homepage-card posts | flow">
          {% include "components/homepage/posts.njk" %}
        </div>
        <div class="homepage-card featured-posts | flow">
          {% include "components/homepage/featured-posts.njk" %}
        </div>
        <div class="homepage-card now | flow">
          {% include "components/homepage/now.njk" %}
        </div>
        <div class="homepage-card contact | flow">
          {% include "components/homepage/contact.njk" %}
        </div>
        <div class="homepage-card ondeck | flow">
          {% include "components/homepage/ondeck.njk" %}
        </div>
        <div class="homepage-card webrings | flow">
          {% include "components/homepage/webrings.njk" %}
        </div>
        <div class="homepage-card records | flow">
          {% include "components/homepage/record.njk" %}
        </div>
        <!-- <div class="homepage-card somepics | flow">
          {% include "components/homepage/somepics.njk" %}
        </div> -->
        <div class="homepage-card status | flow">
          {% include "components/homepage/status.njk" %}
        </div>
      </div>

      <section class="full section" style="--spot-color: var(--color-bg-accent)">
        {% svg "divider/soft-top", null, "seperator" %}
        <section class="section__inner wrapper">
          <div class="region wrapper flow prose" style="--region-space-top: var(--space-l)">
            <h2 id="explore">Surf's up!</h2>
            <p>There's more pages on my website that can fit in the top navigation. My homepage serves as an index of all pages you might want to visit.</p>
            <div class="grid | region" data-layout="thirds">
              <div class="surfing-card">
                <h3>Shelves & Collections</h3>
                <nav aria-label="Surf Shelves Navigation">
                  <ul>
                    {%- for item in navigation.surfShelves %}
                      <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
                    {%- endfor -%}
                  </ul>
                </nav>
              </div>
              <div class="surfing-card">
                <h3>Personal & About</h3>
                <nav aria-label="Surf Slashes Navigation">
                  <ul>
                    {%- for item in navigation.surfPersonal %}
                      <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
                    {%- endfor -%}
                  </ul>
                </nav>
              </div>
              <div class="surfing-card">
                <h3>Site Information</h3>
                <nav aria-label="Surf Site Navigation">
                  <ul>
                    {%- for item in navigation.surfSite %}
                      <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
                    {%- endfor -%}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        {% svg "divider/soft-bottom", null, "seperator" %}
      </section>

    </div>
  </section>
</div>

{% css "local" %}
  {% include "css/homepage.css" %}
  {% include "css/webrings.css" %}
{% endcss %}

{% js "inline" %}
  {% include "scripts/quotes.js" %}
{% endjs %}