---
title: Links
description: A collection of links for websites and services that I find useful.
layout: page
permalink: /links/index.html
sections:
  - id: blogroll
    title: Blogroll
    description: Interesting websites with blogs that I subscribe to.
    linksKey: blogroll
  - id: coolSites
    title: Cool Sites
    description: Cool websites that aren't blogs that have interesting pages to get lost in.
    linksKey: coolSites
  - id: webdev
    title: Web Development
    description: Website useful for learning or keeping up with web development.
    linksKey: webDevelopment
  - id: newsletters
    title: Newsletters
    description: Newsletters I read, you might find interesting too.
    linksKey: newsLetters
  - id: podcasts
    title: Podcasts
    description: Podcasts that I listen to and recommend.
    linksKey: podCasts
  - id: webdirs
    title: Web Directories
    description: Discovery is a huge part of the small and independent web, these directories are helping surface everyone's wonderful websites.
    linksKey: webDirectories
  - id: linkblogs
    title: Bookmarks & Link Blogs
    description: Curation is a pillar of an open and healthy web. this is a collection of bookmark and link blogs that will expose you to the far reaches of the web.
    linksKey: linkBlogs
  - id: search
    title: Search Engines
    description: Contrary to popular belief, search exists outside of adtech, check out some of these search engines and avoid the blog spam.
    linksKey: searchEngines
  - id: multimedia
    title: Multimedia
    description: Websites that I use to help with my self hosted media server.
    linksKey: multiMedia
---

<style>

</style>

{% from "partials/linksSection.njk" import renderSection %}

<p>I hope you find what you're looking for.</p>

<div class="taglist | my-s-m cluster">
  {% for section in sections %}
  <a class="button" href="#{{ section.id }}">{{ section.title }}</a>
  {% endfor %}
</div>

{% for section in sections %}
{{ renderSection(section.id, section.title, section.description, links[section.linksKey]) }}
{% endfor %}

{% css "inline" %}
  {% include "css/links.css" %}
{% endcss %}

{% js "inline" %}
  {% include "scripts/masonry.js" %}
{% endjs %}