---
title: Now
layout: page
description: What I'm up to now
permalink: /now/index.html
---

{% set latest_nows = collections.now | reverse %}
{% set latestNow = latest_nows[0] %}

<p>
  This is a <a href="https://nownownow.com/about">now page</a>, and was last updated on {{ latestNow.date | postDate }}.
</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "seperator" %}
  <section class="section__inner wrapper">
    <article class="region wrapper flow prose" style="--region-space-top: var(--space-l)">
      {% set latestRecap = collections['monthly recap'] | last %}

        {{ latestRecap | latestNowUpdate | safe }}

    </article>
  </section>

  <section class="section__inner wrapper">
    <details>
      <summary>Previous Entries</summary>
      <ul>
        {% for post in latest_nows %}
          {% if not loop.first %}
            <li>
              {{ post.date | postDate }} - <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
  </section>
  {% svg "divider/soft-bottom", null, "seperator" %}
</article>
