---
permalink: "/now-omg.txt"
---

{profile-picture}

# fLaMEd

[Back to my omg.lol page!](https://{address}.omg.lol)

<small>This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, you should make one, too.</small>

<small>This is a mirror of the <a href="https://flamedfury.com/now">now</a> page on my <a href="https://flamedfury.com">website</a>.</small>

{last-updated}

<script src="https://status.lol/flamed.js?time&link&fluent&pretty"></script>

--- Now ---

### Reading: books

<div class="now_grid">
  {% for book in metadataread | reverse %}{% if book.status == 'started' %}
  <div class="now_item">
    <img src="https://raw.githubusercontent.com/flamedfury/metadata-library/main/img/book-{{ book.isbn }}.png" alt="{{ book.title }}">
  </div>
  {% endif %}{% endfor %}
</div>

### Playing: games

<div class="now_games">
  <div class="now_item">
    <a href="https://worldofwarcraft.blizzard.com/en-us/" title="World Of Warcraft: Dragonflight"><img
        src="https://flamedfury.com/assets/images/pages/now/wow-dragon-flight.png"
        alt="An image of the cover art for the game World Of Warcraft: Dragonflight" /></a>
  </div>
  {% for game in games %}
  <div class="now_item">
    <a href="{{ game.steamUrl }}"><img src="{{ game.coverArt }}" alt="{{ game.name }}"></a>
  </div>
  {% endfor %}
</div>

### Listening: artists

<div class="now_grid">
  {% for artist in artists %}
  <div class="now_item">
    <a href="{{artist.url}}" title="{{artist.name | escape}}"><img src="{{ artist.image }}" alt="Photo of {{ artist.name }}" title="{{ artist.name }}"></a>
  </div>
  {% endfor %}
</div>

### Listening: albums

<div class="now_grid">
  {% for album in albums %}
  <div class="now_item">
    <a href="{{ album.url }}" title="{{ album.name }}"><img src="{{ album.image }}" alt="The cover art for {{ album.name }}"></a>
  </div>
  {% endfor %}
</div>

### Watching: tv

<div class="now_grid">
  {% for show in tv %}
  <div class="now_item">
    <a href="https://trakt.tv/shows/{{ show.show.ids.slug }}/seasons/{{ show.episode.season }}/episodes/{{ show.episode.number }}"
      title="{{ show.show.title | escape }}">
      <img src="{{ show.posterUrl }}" alt="{{ show.show.title }}" />
    </a>
  </div>
  {% endfor %}
</div>

### Watching: movies

<div class="now_grid">
  {% for movie in movies %}
  <div class="now_item">
    <a href="https://trakt.tv/movies/{{ movie.movie.ids.slug }}" title="{{ movie.movie.title | escape }}">
      <img src="{{ movie.posterUrl }}" alt="{{ movie.movie.title }}" />
    </a>
  </div>
  {% endfor %}
</div>