/* fonts */
@font-face {
  font-family: "Gotham Black";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Gotham-Black.woff2") format("woff2");
}

/* @font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Gotham-Black.woff2') format('woff2')
} */

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/source-serif-pro-v11-latin-regular.woff2") format("woff2");
}

/* variables */
:root {
  /*colours*/
  --c-primary: #d74299;
  --c-secondary: #009400;
  --c-black: #000;
  --c-dark-gray: #050505;
  --c-gray: #121212;
  --c-light-gray: #7d7d7d;

  --c-text-primary: var(--c-light-gray);
  --c-bg-primary: var(--c-gray);
  --c-bg-dark: var(--c-dark-gray);
  --c-heading: var(--c-primary);
  --c-link-primary: var(--c-primary);
  --c-link-secondary: var(--c-secondary);
  --c-border: var(--c-primary);
  --c-side-title: var(--c-secondary);
  --c-hr: var(--c-primary);

  /* text */
  --f-serif: "Source Serif Pro", serif;
  --f-sans-serif: "Gotham Black", sans-serif;

  --f-body: var(--f-serif);
  --f-heading: var(--f-sans-serif);
  --f-side-title: var(--f-sans-serif);
  --f-nav-links: var(--f-serif);

  --f-size-base: 1.25rem;
  --f-size-h1: calc(2.5 * var(--f-size-base));
  --f-size-h2: calc(2 * var(--f-size-base));
  --f-size-h3: calc(1.75 * var(--f-size-base));

  --f-size-mob-h1: calc(1.75 * var(--f-size-base));
  --f-size-mob-h2: calc(1.55 * var(--f-size-base));
  --f-size-mob-h3: calc(1.35 * var(--f-size-base));

  /* formatting */
  --spacing: 1rem;
}

/* base */
html {
  box-sizing: border-box;
  font-family: var(--f-body);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header img,
main img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 75em;
  margin: 0 auto;
}

body {
  background-image: url("../img/bg.png");
}

nav,
main,
aside,
footer {
  color: var(--c-text-primary);
  background-color: var(--c-bg-dark);
  border: 2px dashed var(--c-primary);
  border-radius: 5px;
  padding: var(--spacing);
}

footer {
  margin-bottom: var(--spacing);
}

a {
  color: var(--c-link-primary);
}

a:hover,
a:focus {
  color: var(--c-secondary);
}

hr {
  border: 1px dashed var(--c-hr);
  margin-top: 32px;
}

blockquote {
  padding: var(--spacing);
  background-color: var(--c-bg-primary);
  -webkit-box-shadow: 8px 8px 0 var(--bg-gray);
  box-shadow: 8px 8px 0 var(--bg-gray);
  border-left: 8px solid var(--c-primary);
}

/* layout */

header {
  margin-bottom: -3%;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.wrapper {
  max-width: 60em;
  margin-inline: auto;
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav main main"
    "aside main main"
    "footer footer footer";
}

@media (max-width: 820px) {
  .wrapper {
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav,
  aside,
  main {
    margin: 0 0.5rem 0 0.5rem;
  }
}

/* typography */

h1,
h2,
h3,
h4 {
  color: var(--c-heading);
  font-family: var(--f-heading);
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4 {
  font-weight: 400;
}

nav h4,
aside h4 {
  color: var(--c-secondary);
}

h1 {
  font-size: var(--f-size-h1);
}

h2 {
  font-size: var(--f-size-h2);
}

h3 {
  font-size: var(--f-size-h3);
}

p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

main ul {
  font-size: 1.15rem;
  line-height: 1.5;
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: var(--f-size-mob-h1);
  }

  h2 {
    font-size: var(--f-size-mob-h2);
  }

  h3 {
    font-size: var(--f-size-mob-h3);
  }
}

/* navigation */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

nav li {
  width: 100%;
  margin: 0 0 1em 0;
  display: block;
}

nav li:last-child {
  margin: 0;
}

.nav-primary a {
  font-family: var(--f-nav-links);
  font-weight: bold;
  text-decoration: none;
}

.home-btn a {
  margin-bottom: 1rem;
}
#menu-btn {
  display: none;
}

.nav-primary #myLinks {
  display: block;
}

@media screen and (max-width: 820px) {
  .nav-primary {
    width: 100%;
    height: auto;
    position: relative;
  }

  .nav-primary li {
    text-align: center;
    float: none;
  }

  .nav-primary a.home-btn {
    text-align: left;
  }

  #menu-btn {
    display: block;
  }

  .nav-primary #myLinks {
    display: none;
  }

  .nav-primary a.home-btn,
  a.menu-btn {
    color: var(--c-secondary);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--f-sans-serif);
    text-decoration: none;
  }

  .nav-primary a.menu-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* sidebar */
aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

aside li {
  width: 100%;
  margin: 0 0 1em 0;
  display: flex;
  justify-content: center;
}

aside li:last-child {
  margin-bottom: var(--spacing);
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 1px solid var(--c-bg-primary); */
  text-align: left;
  padding: 0.75rem;
}

th {
  background: var(--c-bg-primary);
  font-weight: bold;
}

tr {
  background: var(--c-bg-primary);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--c-bg-dark);
}

/* flex container for displaying stuff in the main content block */
.flex-container {
  margin: 0 auto;
  max-width: 744px;
  padding: 0 1rem;
}

.flex-cell img {
  display: block;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.flex-cell {
  width: calc(33.3333% - 2rem);
}

.flex-cell {
  margin: 1rem;
}

@media screen and (max-width: 820px) {
  .flex-cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 600px) {
  .flex-cell {
    width: calc(100% - 2rem);
  }
}

/* utilities */
.side-title {
  color: var(--c-side-title);
  font-family: var(--f-side-title);
  font-weight: bold;
}

.t-small {
  font-size: 0.85rem;
}

.t-bold {
  font-weight: bolder;
}

.t-center {
  text-align: center;
}

.ring {
  font-weight: normal;
  font-size: 1rem;
  font-family: var(--link-family);
  color: var(--f-text-primary);
  display: flex;
  justify-content: center;
}

.ring a {
  text-decoration: none;
}

.info-box {
  background-color: var(--c-primary) !important;
  border-radius: 5px;
  color: var(--c-dark-gray);
  line-height: normal;
  padding: var(--spacing);
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.info-box a {
  color: var(--c-dark-gray);
}

.info-box a:hover {
  color: var(--c-light-gray);
}
