/* fonts */
@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Gotham-Black.woff2') format('woff2')
}

@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Gotham-Black.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v20-latin-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v20-latin-900.woff2') format('woff2')
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/source-serif-pro-v11-latin-regular.woff2') format('woff2')
}

/* variables */
:root {
  /*colours*/
  --c-primary: #8a1d5c;
  --c-secondary: #007C00;
	--c-black: #000;
	--c-dark-gray: #050505;
	--c-gray: #121212;
	--c-light-gray: #767676;

  --c-text-primary: var(--c-light-gray);
  --c-bg-primary: var(--c-gray);
  --c-bg-dark: var(--c-dark-gray);
  --c-heading: var(--c-primary);
  --c-link-primary: var(--c-primary);
  --c-link-secondary: var(--c-secondary);
  --c-border: var(--c-primary);

  /* text */
  --f-serif: "Source Serif Pro", serif;
  --f-sans-serif: "Gotham Black", sans-serif;

  --f-body: var(--f-serif);
  --f-heading: var(--f-sans-serif);

  --f-size-base: 1.25rem;
	--f-size-h1: calc(2.5 * var(--f-size-base));
	--f-size-h2: calc(2 * var(--f-size-base));
	--f-size-h3: calc(1.75 * var(--f-size-base));

  /* formatting */
  --spacing: 1rem;
}

/* base */
html {
	box-sizing: border-box;
	font-family: var(--f-body);
}

*,*:before,*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 75em;
  margin: 0 auto;
}

body {
  background-image: url("../img/bg.png");
}

nav, main, aside, footer {
  color: var(--c-text-primary);
  background-color: var(--c-bg-dark);
  border: 2px dashed var(--c-primary);
  border-radius: 5px;
  padding: var(--spacing);
}

footer {
  margin-bottom: var(--spacing);
}

a {
  color: var(--c-link-primary);
}

a:hover, a:focus {
  color: var(--c-secondary);
}

/* layout */

header {
  margin-bottom: -3%;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.wrapper {
  max-width: 60em;
  margin-inline: auto;
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "nav main main"
  "aside main main"
  "footer footer footer";
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside, main{
    margin: 0 0.5rem 0 0.5rem;
  }
}

/* typography */

h1, h2, h3, h4 {
  color: var(--c-heading);
  font-family: var(--f-heading);
  line-height: 1.5;
  overflow-wrap: break-word;
  padding-bottom: 0.2rem;
	margin-bottom: 0.5rem;
}

h1, h2, h3 {
  font-weight: 900;
}

h4 {
  font-weight: 400;
}

nav h4, aside h4 {
  color: var(--c-secondary);
}

h1 {
  font-size: var(--f-size-h1);
}

h2 {
  font-size: var(--f-size-h2);
}

h3 {
  font-size: var(--f-size-h3);
}

p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: .75rem;
}

/* navigation */

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem
}

/* sidebar */

aside li {
  list-style: none;
  padding-bottom: 0.5rem;
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 1px solid var(--c-bg-primary); */
  text-align: left;
  padding: 0.75rem;
}

th {
  background: var(--c-bg-dark);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--c-bg-primary);
}


/* utilities */
.t-small {
  font-size: 0.85rem;
}

.t-bold {
  font-weight: bolder;
}

.t-center {
  text-align: center;
}