@import url('fonts.css');

/* simple reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* custom properties */
:root {
  --layout-spacing: 1rem;
  
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Inter', sans-serif;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-text: #7d7d7d;
  --clr-bg: #050505;
  --clr-bg-accent: #121212;
  --clr-primary: #d74299;
  --clr-accent: #009400;

    /* fluid typescale magic, https://codepen.io/5t3ph/pen/rNOgeYv */

    --fs-h1: 3.1573345183rem;
    --fs-h2: 2.368593037rem;
    --fs-h3: 1.776889rem;
    --fs-h4: 1.333rem;
    --fs-body: 1.125rem;
}

@media (max-width: 800px) {
  :root {
      /* fluid typescale magic, https://codepen.io/5t3ph/pen/rNOgeYv */
  --fs-h1: clamp(2.1154141273rem, 5.041920391vw + 1rem, 3.1573345183rem);
  --fs-h2: clamp(1.5869573348rem, 4.7816357022vw + 1rem, 2.368593037rem);
  --fs-h3: clamp(1.19051563rem, 4.58637337vw + 1rem, 1.776889rem);
  --fs-h4: clamp(1rem, 4.333vw + 1rem, 1.333rem);
  --fs-body: 1.15rem;
  }
}

/* general styles */

body {
  background-image: url("../img/bg.png");
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
  color: var(--clr-text);
  font-size: var(--fs-body);
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: -3%;
}

.header img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav,
.main,
.sidebar,
.footer {
  background-color: var(--clr-bg);
  border: 2px dashed var(--clr-primary);
  border-radius: 5px;
  padding: var(--layout-spacing);
}

article *+* {
  margin-top: 1em;
}

strong {
  font-weight: var(--fw-bold);
}

hr {
  border: 1px dashed var(--clr-primary);
}

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 5px solid var(--clr-primary);
  background-color: var(--clr-bg-accent);
  color: var(--clr-text);
  border-radius: 0 0.25rem 0.25rem 0;
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-style: normal;
}

.info-box {
  background-color: var(--clr-primary) !important;
  border-radius: 5px;
  color: var(--clr-bg);
  line-height: normal;
  padding: var(--layout-spacing);
  margin-top: var(--layout-spacing);
  margin-bottom: var(--layout-spacing);
}

.info-box a:hover {
  color: var(--clr-bg-accent);
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

td,
th {
  border: 1px solid var(--clr-bg);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--clr-bg-accent);
  font-weight: bold
}

tr {
  background: var(--clr-bg-accent);
}


tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--clr-bg);
}

/* layout */

.container {
  --max-width: 1120px;
  width: min(95%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.grid {
  display: grid;
  gap: var(--layout-spacing);
}

.grid-main {
  grid-template-areas:
  "nav main main"
  "sidebar main main"
  "footer footer footer";
}

@media (max-width: 800px) {
  .grid-main {
    grid-template-areas:
    "nav"
    "main"
    "sidebar"
    "footer";
  }
}

.grid-page {
  grid-template-areas:
  "nav"
  "main"
  "footer";
}

/* buttons */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  text-decoration: none;
  cursor: pointer;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: var(--clr-bg);
}

/* typography */
:is(h1, h2, h3, h4) {
  color: var(--clr-primary);
  line-height: 1.2;
  margin-bottom: 0.65em;
  line-height: calc(2px + 2ex + 2px);
}

:is(h2, h3, h4) {
  font-weight: 600;
}

:is(h1, h2) {
  max-width: 40ch;
  letter-spacing: -2px;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

:is(h1) {
  font-weight: 900;
  text-transform: uppercase;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
h4 { font-size: var(--fs-h4); }

:is(p, li, h1, h2, h3, h4) {
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  color: var(--clr-primary);
  text-underline-offset: 0.08em;
}

a:hover {
  color: var(--clr-accent);
}

a:focus {
  outline: 1px dashed var(--clr-accent);
  outline-offset: 0.2em;
}

/* navigation */
.main-grid>span,
.nav-toggle {
	display: none;
}

.nav-menu {
	display: block;
	text-align: center;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
	margin-bottom: 1em;
}

.nav-menu a {
	font-weight: var(--fw-bold);
	text-decoration: none;
}

.nav__subtitle {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}


@media screen and (max-width: 800px){
	.nav {
		position: relative;
  	width: 100%;
	}
	
	.main-grid>span {
    display: inline-block;
  }
	
	.nav-toggle-label {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 1.75em;
		margin-right: 1em;
		display: flex;
		align-items: top;
	}
	
	.nav-toggle-label span,
	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		position: relative;
		display: block;
		background: var(--clr-primary);
		height: 4px;
		width: 2em;
		border-radius: 2px;
		cursor: pointer;
	}
	
	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		content: '';
		position: absolute;
	}
	
	.nav-toggle-label span::before {
		bottom: 10px;
	}
	
	.nav-toggle-label span::after {
		top: 10px;
	}
	
	.nav-menu {
		display: none;
		position: relative;
		width: 100%;
		margin-top: var(--layout-spacing);
	}
	
	.nav-menu a {
		font-size: var(--fs-h4);
	}
	
	.nav-toggle:checked ~ .nav-menu {
		display: block;
  }
}

/* page navigation */
.page-nav>.nav-menu {
  display: none;
}

.nav-breadcrumb ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb a,
.nav-breadcrumb span {
  padding: .5em;
}

.nav-breadcrumb a {
	font-weight: var(--fw-bold);
	text-decoration: none;
}

.nav span {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.nav-breadcrumb li::before {
  content: "/ ";
  font-weight: var(--fw-bold);
}

.nav-breadcrumb li:first-child::before {
  content: "";
}

/* sidebar */

.sidebar {
  display: block;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
	margin-bottom: 1em;
}

.sidebar__subtitle {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
  margin-bottom: 1em;
}

@media screen and (max-width: 800px){
  .sidebar li {
    display: inline-block;
    margin-inline: 1em;
  }
}

/* footer */

.container>footer {
  margin-top: var(--layout-spacing);
  margin-bottom: var(--layout-spacing);
  padding-top: var(--layout-spacing);
}

.container>footer p {
  padding-top: 0.5em;
  font-size: 0.9rem;
  text-align: center;
}

/* flex grid */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.flex-grid__cell {
  width: calc(33.3333% - 2rem);
  margin: 1rem;
}

.flex-grid__cell img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .flex-grid__cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 600px) {
  .flex-grid__cell {
    width: calc(100% - 2rem);
  }
}

/* vinyl grid */

.vinyl-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.vinyl-grid__image {
  width: calc(40% - 2rem);
  margin: 1rem;
}

.vinyl-grid__image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.vinyl-grid__feature {
  width: calc(60% - 2rem);
  margin: 1rem;
}

.vinyl-grid:nth-child(odd) {
  /* Set every other cell slightly darker. Improves readability. */
  flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
  .vinyl-grid {
    flex-direction: column;
  }

  .vinyl-grid__image {
    width: 100%;
  }

  .vinyl-grid__feature {
    width: 100%;
  }
}
