---
permalink: /bookmarks-feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}">
  <title>{{ meta.bookmarksfeed.title }}</title>
  <subtitle>{{ meta.bookmarksfeed.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ meta.url }}/bookmarks-feed.xml" rel="self"/>
  <updated>{{ date }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {% for bookmark in collections.allBookmarks | reverse %}
    {% set absolutePostUrl = bookmark.url | absoluteUrl(metadata.url) %}
    <entry>
      <title>{{ bookmark.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ bookmark.data.date }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="{{ meta.lang }}" type="html">
      <p class="meta">
        <a rel="author" class="p-author h-card" href="{{ meta.authorWebsite }}">{{ meta.author }}</a> bookmarked <a href="{{ bookmark.data.sourceurl }}" class="u-bookmark-of h-cite">
        <span class="p-name">{{ bookmark.data.title }}</span></a>{% set definedDate = date %} on 
        <time class="dt-published" datetime="{{ bookmark.data.date }}">{{ bookmark.data.date }}</time>
      </p>
      {{ bookmark.templateContent }}
      </content>
    </entry>
  {% endfor %}
</feed>