---
permalink: /bookmarks-feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}">
  <title>{{ meta.bookmarksfeed.name }}</title>
  <subtitle>{{ meta.bookmarksfeed.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ meta.url }}/bookmarks-feed.xml" rel="self"/>
  <updated>{{ bookmark | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {% for bookmark in collections.allBookmarks | reverse %}
    {% set absolutePostUrl = bookmark.url | absoluteUrl(metadata.url) %}
    <entry>
      <title>{{ bookmark.data.title }}</title>
      <link href="{{ meta.authorWebsite }}{{ absolutePostUrl }}"/>
      <updated>{{ bookmark | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
      <id>{{ meta.authorWebsite }}{{ absolutePostUrl }}</id>
      <content xml:lang="{{ meta.lang }}" type="html">{{ bookmark.templateContent }}</content>
    </entry>
  {% endfor %}
</feed>