---
permalink: /bookmarks-feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ meta.feeds.bookmarks.name }}</title>
  <subtitle>{{ meta.feeds.bookmarks.description | escapeXml }}</subtitle>
  <link href="{{ meta.url }}/bookmarks-feed.xml" rel="self" />
  <link href="{{ meta.url }}/" />
  <updated>2025-09-13T00:00:00Z</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author.name | escapeXml }}</name>
    <email>{{ meta.author.email | escapeXml }}</email>
  </author>
  {% for bookmark in collections.allBookmarks | reverse %}
    {% set absolutePostUrl = bookmark.url | absoluteUrl(meta.url) %}
    <entry>
      <title>{{ bookmark.data.title | escapeXml }}</title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{% if bookmark.data.date %}{{ bookmark.data.date }}{% else %}2025-09-13T00:00:00Z{% endif %}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="{{ meta.locale }}" type="html"><![CDATA[
        <p>🔖 Bookmarked <a href="{{ bookmark.url }}">{{ bookmark.data.title }}</a></p>
        {% if bookmark.data.quote %}<blockquote>{{ bookmark.data.quote }}</blockquote>{% endif %}
        <p>{{ bookmark.data.notes }}</p>
        <hr />
        <p>Hey, thanks for reading this post in your feed reader! Want to chat? <a href="mailto:hello@flamedfury.com?subject=RE Bookmark: {{ bookmark.data.title }}">Reply by email</a> or add me on <a href="xmpp:flamed@omg.lol">XMPP</a>. Check out the <a href="https://flamedfury.com/bookmarks/">bookmarks archive</a> on the website.</p>
      ]]></content>
    </entry>
  {% endfor %}
</feed>