---json
{
  "permalink": "bookmarks-feed.json",
  "eleventyExcludeFromCollections": true
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "fLaMEd fury's bookmarks feed",
  "home_page_url": "{{ meta.url }}/",
  "feed_url": "{{ meta.url }}/bookmarks-feed.json",
  "description": "A collection of links from across the world wide web",
  "authors": [{
    "name": "{{ meta.author.name }}",
    "url": "{{ meta.url }}",
    "avatar": "{{ meta.url }}{{ meta.author.avatar }}"
  }],
  "items": [
    {%- set bookmarkslist = collections.allBookmarks -%}
    {%- for bookmark in bookmarkslist | reverse -%}
      {
        "id": "{{ meta.url }}/bookmarks/{{ bookmark.data.title | slugify }}/",
        "url": "{{ meta.url }}/bookmarks/{{ bookmark.data.title | slugify }}/",
        "title": "{{ bookmark.data.title }}",
        "content_html": "<p>🔖 Bookmarked <a href=\"{{ bookmark.url }}\">{{ bookmark.data.title | escape }}</a></p>{% if bookmark.data.notes %}<p>{{ bookmark.data.notes | escape }}</p>{% endif %}",
        "summary": "{{ bookmark.data.notes | escape }}",
        "date_published": "{{ bookmark.data.date }}",
        "external_url": "{{ bookmark.url }}",
        "tags": [{% if bookmark.data.tags %}{% for tag in bookmark.data.tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}]
      }
      {%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}