---
permalink: /feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ meta.blog.name }}",
  "language": "{{ meta.lang or page.lang }}",
  "home_page_url": "{{ meta.url | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(meta.url) }}",
  "description": "{{ meta.blog.description }}",
  "authors": [
    {
      "name": "{{ meta.author.name }}"
    }
  ],
  "items": [
		{%- set postslist = collections.posts -%}
		{%- for post in postslist | reverse -%}
		{%- set absolutePostUrl = post.url | absoluteUrl(meta.url) -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "summary": "{{ post.data.description | replace('"', '\\"') | safe }}",
      "date_published": "{% if post.data.timestamp %}{{ post.data.timestamp | dateToRfc3339 }}{% else %}{{ post.date | dateToRfc3339 }}{% endif %}",
      "tags": [{% if post.data.hashtags %}{% for tag in post.data.hashtags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}],
      "content_html": {% if post.content %}{{ post.content | renderTransforms(post.data.page, metadata.base) | dump | safe }}{% else %}""{% endif %}
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}