---
permalink: /feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ meta.blog.name }}</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="{{ meta.url }}/feed.xml" rel="self" />
  <link href="{{ meta.url }}/" />
  {% set postslist = collections.feed %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author.name }}</name>
    <email>{{ meta.author.email }}</email>
  </author>
  {%- for post in collections.feed %}
  {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{% if post.data.timestamp %}{{ post.data.timestamp | dateToRfc3339 }}{% else %}{{ post.date | dateToRfc3339 }}{% endif %}</updated>
    <id>{{ absolutePostUrl }}</id>
    <summary>{{ post.data.description }}</summary>
    <content xml:lang="{{ meta.locale }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}{% include 'components/rss-thanks.njk' %}</content>
  </entry>
  {%- endfor %}
</feed>
