---
title: Monthly Generator
layout: page
permalink: /monthly/index.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

{% set currentMonth = "2025-06" %}

<h2>Blog Posts from {{ currentMonth | formatDate("MMMM YYYY") }}</h2>
<ul>
{%- for post in collections.posts | sort(attribute='date') %}
  {% if post.date | formatDate("YYYY-MM") == currentMonth %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a>, {{ post.data.description }}</li>
  {% endif %}
{% endfor -%}
</ul>

<h2>Books Finished in {{ currentMonth | formatDate("MMMM YYYY") }}</h2>
<ul>
{%- for book in bookshelf | sort(attribute='dateFinished') %}
  {% if book.dateFinished | formatDate("YYYY-MM") == currentMonth %}
    <li><a href="{{ '/bookshelf/' | url }}{{ book.title | slugify }}/">{{ book.title }}</a> by {{ book.authors | join(', ') }}</li>
  {% endif %}
{% endfor -%}
</ul>

<h2>Bookmarks from {{ currentMonth | formatDate("MMMM YYYY") }}</h2>
<ul>
  {%- for bookmark in bookmarks | sort(attribute='date') %}
    {% if bookmark.date | formatDate("YYYY-MM") == currentMonth %}
      <li><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> {{ bookmark.notes }}</li>
    {% endif %}
  {% endfor -%}
</ul>
