---
permalink: /robots.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

User-agent: ia_archiver
User-agent: MojeekBot
User-agent: search.marginalia.nu
Disallow:

{{ robots.txt }}

Sitemap: {{ meta.url }}/sitemap.xml
