---
permalink: /robots.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

User-agent: *

{% for bot in robots.userAgents %}
User-agent: {{ bot.agent }}
{% endfor %}
Disallow: /

Sitemap: {{ meta.url }}/sitemap.xml
