        <p class="t-bold t-small">Public Service Announcement 2000</p>
        <p><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fflamedfury.com%2F"><img src="{{ page | relative }}img/badges/valid_html5.png" alt="fLaMEdFury is HTML5 valid!" width="88" height="15"></a> <a href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fflamedfury.com&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en#css"><img src="{{ page | relative }}img/badges/valid_css3.png" alt="fLaMEdFury is CSS3 valid!" width="88" height="15"></a> <a href="https://validator.w3.org/feed/check.cgi?url=flamedfury.com%2Ffeed"><img src="{{ page | relative }}img/badges/valid_rss.png" alt="fLaMEdFury is a Valid ATOM 1.0 feed!" width="88" height="15"></a></p>
        <p class="t-small">Copyright &copy; 2000 - {% year %} by {% if meta.authorName %} {{ meta.authorName }}{% endif %}. Some rights reserved. Don't jack.</p>