<!-- _includes/partials/_links_usefulsites.njk -->
<table>
<tbody>
{% for item in links.usefulSites %}
<tr>
<td><a href="{{ item.url }}" target="_blank">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endfor %}
</tbody>
</table>