<!-- _includes/partials/_manifesto_resources_learn.njk -->
<table>
<tbody>
{% for item in manifestolinks.manifestoResourcesLearn %}
<tr>
<td><a href="{{ item.url }}" target="_blank">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endfor %}
</tbody>
</table>