<!-- _includes/partials/_manifesto_resources_hosting.njk -->
<table>
<tbody>
{% for item in manifestolinks.manifestoResourcesHosting %}
<tr>
<td><a href="{{ item.url }}" target="_blank">{{ item.siteName }}</a></td>
<td>{{ item.SiteDescription }}</td>
</tr>
{% endfor %}
</tbody>
</table>