<div class="primary-nav">
  <a href="../">Home</a>
  <div id="myLinks">
    <a href="../recordshelf/">Recordshelf</a>
    <a href="../bookshelf/">Bookshelf</a>
    <a href="../comicbookrack/">Comicbook Rack</a>
    <a href="../manifesto/">Web Manifesto</a>
    <a href="../memories/">Web Memories</a>
    <a href="../links/">Links</a>
    <a href="../about/">About</a>
    <a href="../contact/">Email Me</a>
    <a href="https://guestbook.flamedfury.com/">Guestbook</a>
  </div>
  <a href="javascript:void(0);" id="menu-btn" class="menu-btn" onclick="myFunction()">Menu</a>
</div>

{# <h4>Home</h4>

<h4>Interests</h4>

<li><a href="../recordshelf/">Recordshelf</a></li>
<a href="../bookshelf/">Bookshelf</a>
<a href="../mediashelf/">Mediashelf</a>
<a href="../comicbookrack/">Comicbook Rack</a>

Writing

<a href="../recordshelf/">Web Manifesto</a>
<a href="../recordshelf/">Web Memories</a>

Meta

<a href="../recordshelf/">Links</a>
<a href="../recordshelf/">About</a>

Contact

<a href="../recordshelf/">Email Me</a>
<a href="../recordshelf/">Guestbook</a> #}
