<h4>Friends</h4>

{% include "partials/_buttons.njk" %}

<h4>Link Me</h4>

<ul>
  <li><img src="../img/buttons/fury.gif"></li>
  <li><img src="../img/buttons/flamedfury.gif"></li>
  <li><img src="../img/buttons/flamedfury2.gif"></li>
  <li><img src="../img/buttons/flamedfurybutton.gif"></li>
</ul>