<ul class="buttons">
  <li class="side-title">Friends</li>
  {% for item in buttons.friends %}
  <li>
    <a href="{{ item.url }}">
      <img src="{{ page | relative }}{{ item.button }}" alt="{{ item.site }}"  title="{{ item.site }}" width="88" height="31">
    </a>
  </li>
  {% endfor %}
</ul>

<ul class="link-me">
  <li class="side-title">Link Me</li>
  <li><img src="{{ page | relative }}img/buttons/fury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
  <li><img src="{{ page | relative }}img/buttons/flamedfury.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
  <li><img src="{{ page | relative }}img/buttons/flamedfury2.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
  <li><img src="{{ page | relative }}img/buttons/flamedfurybutton.gif" width="88" height="31" alt="Visit fLaMEdFury Now!"></li>
</ul>

<ul class="webrings">
  <li class="side-title">Webrings</li>
  <li class="ring"><webring-css site="https://flamedfury.com/"></webring-css></li>
  <li class="ring"><a target="blank" href="https://weirdwidewebring.net/prev.html">&lt;&lt;</a>&nbsp;<a href="https://weirdwidewebring.net/">WWW</a>:<a target="blank" href="https://weirdwidewebring.net/random.html">?</a>&nbsp;<a target="blank" href="https://weirdwidewebring.net/next.html">&gt;&gt;</a></li>
  <li class="ring"><a href='https://webring.dinhe.net/prev/https://flamedfury.com'>&lt;&lt;</a>&nbsp;<a href="https://webring.dinhe.net/">Retronaut</a>:<a target="blank" href="https://webring.dinhe.net/random">?</a>&nbsp;<a href='https://webring.dinhe.net/next/https://flamedfury.com'>&gt;&gt;</a></li>
</ul>