<!-- _includes/partials/_topalbums.njk -->

{% set topAlbum = lastfm2.topalbums.album %}
{% if topAlbum.length %}
<div class="flex-container">
<div class="flex-grid">
{% for item in topAlbum %}
<div class="flex-cell">
<a href="{{ item.url }}">
<img src="{{ item.image[3]['#text'] }}" alt="Album artwork for {{ item.name }} by {{ item.artist['#text'] }}" title="{{ item.artist.name }} - {{ item.name }}">
</a>
</div>
{% endfor %}
</div>
</div>
{% endif %}