<article class="region wrapper flow prose" style="--region-space-top: var(--space-l)">

  <ul class="blogcards | grid" role="list" data-rows="masonry" data-layout="50-50">
    {% for bookmark in collections.allBookmarks | reverse %}
    <li class="card">
      <div class="flow">
        <h2>
          <a href="{{ bookmark.url | url }}">{{ bookmark.data.title | safe }}</a>
        </h2>
        <div class="cluster">
          <span class="text-step-min-1">
            {% set definedDate = bookmark.date %} {% include "components/date.njk" %}
          </span>
        </div>
        <p>{{ bookmark.data.notes | truncate(100) | safe }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>

</article>