<article class="region wrapper flow prose" style="--region-space-top: var(--space-l)">
  <ul class="blogcards | grid" role="list" data-rows="masonry" data-layout="50-50">
    <li class="card">
      <h3>
        <a href="/bookshelf/">Bookshelf</a>
      </h3>
      <p>The books that I've read, or want to read.</p>
    </li>
    <li class="card">
      <h3>
        <a href="/recordshelf/">Recordshelf</a>
      </h3>
      <p>
        I love music and I'm not immune to collecting albums that mean something to me.
      </p>
    </li>
    <li class="card">
      <h3>
        <a href="/comics/">Comics</a>
      </h3>
      <p>
        My collection of comics.
      </p>
    </li>
    <li class="card">
      <h3>
        <a href="/bookmarks/">Bookmarks</a>
      </h3>
      <p>
        I surf and read alot about the web. This is an ever growing list of links to the
        articles I've found interesting.
      </p>
    </li>
    <li class="card">
      <h3>
        <a href="/mixtapes/">Mixtapes</a>
      </h3>
      <p>
        I like to pretend that I'm a trendy music curator. A collection of mixtapes in
        Spotify playlist format.
      </p>
    </li>
    <li class="card">
      <h3>
        <a href="/gameshelf/">Gameshelf</a>
      </h3>
      <p>Where has my time and energy for gaming gone?</p>
    </li>
    <li class="card">
      <h3>
        <a href="/computerhistory/">Gaming PCs</a>
      </h3>
      <p>My collection of gaming PCs over the years.</p>
    </li>
    <li class="card">
      <h3>
        <a href="/garage/">The Garage</a>
      </h3>
      <p>Renewing my interest in diecast metal cars.</p>
    </li>
  </ul>
</article>
