<footer class="site-foot">
  <div class="wrapper prose flow">
      <nav id="footernav" class="site-foot__inner text-step-0" aria-label="Footer">
        {% for item in navigation.bottom %}
        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        {% endfor %}
      </nav>

      <nav id="social" class="site-foot__inner" aria-label="Social links">
        {% for item in social %}
        {% if item.platform == "rss" %}
        <a href="{{ meta.blog.url }}{{ item.url }}" rel="alternate" type="application/rss+xml">
          {% else %}
          <a href="{{ item.url }}" rel="me">
            {% endif %}
            <span class="sr-only">{{ item.platform }}</span>
            <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
          </a>
          {% endfor %}
      </nav>
    </div>
  </div>

  <div class="wrapper prose">
    {% include "partials/webrings.njk" %}
  </div>

  <div class="wrapper region">
  <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
  </div>

  <div class="wrapper prose">
    <div class="site-foot__inner text-step-0">

      {% set activePage = page.url | url %}
      <div class="site-foot__notes flow">
        <p>&copy; 1999 - {% year %}
          <a href="/" {% if activePage==='/' %} aria-current="page" {% endif %}>{{ meta.siteName }}</a>. Some rights reserved. Don't
          jack. Made with HTML, CSS, 11ty and ❤</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <script src="https://tinylytics.app/embed/w4sspyE4zZU5Q_ots8gu.js" defer></script>
  </div>
</footer>
