<section style="display: none;" class="h-card">

  <!-- About -->
  <span class="p-name">fLaMEd</span>
  <span class="p-note">Web Surfer.</span>

  <!-- Picture -->
  <img class="u-photo" src="/assets/images/avatar.jpg"/>

  <!-- Location -->
  <span class="p-locality">Aotearoa</span>

  <!-- Links -->
  <a class="u-url u-uid" href="https://flamedfury.com"></a>
  <a class="u-email" rel="me" href="mailto:flamed@flamedfury.com"></a>
  <a class="u-url" rel="me" href="https://flamed.nz"></a>
  <a class="u-url" rel="me" href="https://github.com/flamedfury/"></a>

  <!-- Categories -->
  <span class="p-category">Music</span>
  <span class="p-category">Books</span>
  <span class="p-category">Comics</span>
  <span class="p-category">Movies</span>
  <span class="p-category">TV</span>
  <span class="p-category">Web Design</span>
  <span class="p-category">Blogging</span>
</section>