<!--  h-card infos: https://indieweb.org/authorship -->
<div hidden="h-card">
  <p class="p-author">
    <a class="p-name u-url u-uid" rel="me" href="{{ meta.url }}">{{ meta.author.name }}</a>
  </p>
  <img class="u-photo" src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}" alt="{{ meta.author.name }}" />
  <p class="p-note">And eight years later, I'm still at it. Divorced, re-married, a felon, a father, sleepin' pill
    addict.</p>
</div>