<header class="wrapper" id="top">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>
  <div class="repel ontop">
    {% set activePage = page.url | url %}
    <a href="/" class="logo | cluster"{% if page.url == "/" %} aria-current="page"{% endif %}>
    {% include "svg/flame.svg" %}
    <span>{{ meta.siteName }}</span>
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>
