<header class="wrapper" id="top">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>
  <div class="repel ontop gutter-s">
    {% set activePage = page.url | url %}
    <a href="/" class="logo | cluster"{{ indicateActiveHome }}>
    {% svg "misc/flame" %}
    <span>{{ meta.siteName }}</span>
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>
