{%- for item in mixtapes.playlists -%}
<article class="content flow">
  <h3 style="font-size: var(--size-step-2); max-width: 50ch;">{{ item.title }}</h3>
  <div class="vinyl sidebar">
    <div class="region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
      <iframe style="border-radius:12px" src="{{ item.embed }}" width="100%" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    <div class="flow region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
      <p>{{ item.comment }}</p>
    </div>
  </div>
</article>
{%- endfor -%}