<hr>
<p class="text-step-min-1">
  Reply by <a href="mailto:hello@flamedfury.com?subject=RE: {{ title }}">email</a>, <a
    href="xmpp:flamed@omg.lol">XMPP</a>, or send a <a href="#webmention">webmention</a>.
</p>