{{ "<p>Hey, thanks for reading this post in your feed reader! Want to chat? <a href=\"mailto:hello@flamedfury.com\">Reply by email.</a>. Check out the <a href=\"https://flamedfury.com/posts/\">posts archive</a> on the website.</p>" | escape }}