{% if post.data.category == "update" %}

<li id="{{ post.data.title | slugify }}" class="card flow overflow-hidden note">
  <span>Site Update</span>
  {% set definedDate = post.date %} {% include "partials/date.njk" %}

  {{ post.data.content | safe }}
</li>

{% else %}

{% endif %}