<div class="cluster" style="gap: var(--space-s);">
  {%- for tag, posts in collections | dictsort -%}
    {%- if tag != "all" and tag != "posts" %}

      <a href="/tags/{{ tag }}/">{{ tag }}</a>

    {%- endif -%}
  {%- endfor %}
</div>