<div role="region" class="theme-switch" aria-labelledby="theme-switcher-label" data-theme-switcher>
  <h2 id="theme-switcher-label" class="visually-hidden">{{ meta.themeSwitch.title }}</h2>
  <button class="button" id="theme-toggle" data-theme="light">
    <span class="visually-hidden" id="theme-label">{{ meta.themeSwitch.light }}</span>
    <span class="svg-container">
      {% svg "misc/light", null, "theme-icon light-icon", "display:block" %}
      {% svg "misc/dark", null, "theme-icon dark-icon", "display:none" %}
    </span>
  </button>
</div>