<ul class="flow">
  {% for item in changelog.changeLog | reverse | limit(05) %}
    <li>
      {% set definedDate = item.date %}
      <span class="updates-date">{% include "partials/date.njk" %}</span>: {{ item.update }}
    </li>
  {% endfor %}
</ul>

<p>
  <a class="updates-link" href="/updates/">Website changelog</a>
</p>