{%- for item in vinyl.albums -%}
<article class="content mx-auto">
  <div class="vinyl sidebar relative">
    {% image item.image, "bg-transparent", "item.alt", "(max-width: 463px) 400px, (max-width: 718px) 700px,
    (max-width: 912px) 400px, 700px" %}
    <div class="flow">
      <h3>{{ item.title }}</h3>
      <p>
        <span class="block font-bold uppercase">{{ item.format }} / {{ item.year }}, {{ item.genre }}</span>{{ item.comment }}
      </p>
    </div>
  </div>
</article>
{%- endfor -%}