{%- for vinyl in vinyl.albums -%}
<article class="content mx-auto">
  <div class="vinyl sidebar relative">
    {% image vinyl.image, "bg-transparent", "object-cover w-full h-max rounded-tr-xl
    rounded-br-xl", "vinyl.alt", "(max-width: 463px) 400px, (max-width: 718px) 700px,
    (max-width: 912px) 400px, 700px" %}
    <div class="flow">
      <h3>{{ vinyl.title }}</h3>
      <p>
        <span class="block font-bold uppercase opacity-80">{{ vinyl.format }} / {{ vinyl.year }}, {{ vinyl.genre }}</span>{{ vinyl.comment }}
      </p>
    </div>
  </div>
</article>
{%- endfor -%}