{%- for item in vinyl.albums -%}
  <article class="content">
    <a class="recordshelf-link" href="#{{ item.title | slug }}">
      <h3 style="font-size: var(--size-step-2); max-width: 50ch;" id="{{ item.title | slug }}">{{ item.title }}</h3>
    </a>
    <div class="vinyl sidebar">
      <div class="region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
        {% imagePlaceholder item.image,
        "the album cover" %}
      </div>
      <div class="flow region" style="--region-space-top: var(--space-s-m); --region-space-bottom: var(--space-s-m)">
        <p>
          <span class="block uppercase">Artist: {{ item.artist }}</span>
          <span class="block uppercase">Info: {{ item.format }} / {{ item.year }}, {{ item.genre }}</span>
          <span class="block uppercase">Label: {{ item.label }}
            {{ item.code }}</span>
          <span class="block uppercase">Release: {{ item.varient }}
            {{ item.number }}</span>
        </p>
        <p>
          {{ item.comment }}
        </p>
      </div>
    </div>
  </article>
{%- endfor -%}