<!-- neossg.neocities.org -->
<div id='neossg'>
  <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
  <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
</div>

<table>
  <tr>
    <td colspan="3">This site is a member of CS.Sjoy.lol.</td>
  </tr>
  <tr>
    <td>
      <a href="https://webri.ng/webring/cssjoy/previous?via=https://flamedfury.com/explore/webrings/">Previous Site</a>
    </td>
    <td>
      <a href="https://webri.ng/webring/cssjoy/random?via=https://flamedfury.com/explore/webrings/">Random Site</a>
    </td>
    <td>
      <a href="https://webri.ng/webring/cssjoy/next?via=https://flamedfury.com/explore/webrings/">Next Site</a>
    </td>
  </tr>
</table>