<!-- neossg.neocities.org -->
<div id='neossg'>
  <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
  <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
</div>