<div class="site-foot__inner text-step-0">

  <div class="site-foot__notes">
    <!--] cs.sjoy.lol [-->
    <p>
      <a href="https://cs.sjoy.lol">CS.Sjoy.lol</a> webring</p>
    <p>
      <a href="https://webri.ng/webring/cssjoy/previous?via=https%3A%2F%2Fsarajoy.dev%2F%23webring">← Prev</a>
          ·
          <a href="https://webri.ng/webring/cssjoy/random?via=https%3A%2F%2Fsarajoy.dev%2F%23webring">Random</a>
          ·
          <a href="https://webri.ng/webring/cssjoy/next?via=https%3A%2F%2Fsarajoy.dev%2F%23webring">Next →</a>
    </p>
  </div>

  <div class="site-foot__notes">
    <!-- neossg.neocities.org -->
    <div id='neossg'>
      <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
      <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
    </div>
  </div>

</div>